@font-face {
  font-family: icomoon;
  src: url('icomoon/icomoon.ttf'),
       url('icomoon/icomoon.eot');
}

@-webkit-keyframes pop-upwards {
  0% {
    -webkit-transform:matrix(0.97,0,0,1,0,12);
    transform:matrix(0.97,0,0,1,0,12);
    opacity:0
  }
  20% {
    -webkit-transform:matrix(0.99,0,0,1,0,2);
    transform:matrix(0.99,0,0,1,0,2);
    opacity:.7
  }
  40% {
    -webkit-transform:matrix(1,0,0,1,0,-1);
    transform:matrix(1,0,0,1,0,-1);
    opacity:1
  }
  70% {
    -webkit-transform:matrix(1,0,0,1,0,0);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
  100% {
    -webkit-transform:matrix(1,0,0,1,1,1);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
}

@keyframes pop-upwards{
  0% {
    -webkit-transform:matrix(0.97,0,0,1,0,12);
    transform:matrix(0.97,0,0,1,0,12);
    opacity:0
  }
  20% {
    -webkit-transform:matrix(0.99,0,0,1,0,2);
    transform:matrix(0.99,0,0,1,0,2);
    opacity:.7
  }
  40% {
    -webkit-transform:matrix(1,0,0,1,0,-1);
    transform:matrix(1,0,0,1,0,-1);
    opacity:1
  }
  70% {
    -webkit-transform:matrix(1,0,0,1,0,0);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
  100% {
    -webkit-transform:matrix(1,0,0,1,0,0);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
}

.g-body .pos-abs {
  position: absolute;
}

.g-body .file-hidden {
  opacity: 0;
  width: 90px;
}

.g-body .file-label {
  width: 90px;
}

.text-menu {
  -webkit-transition: opacity 180ms, margin 180ms;
  -ms-transition: opacity 180ms, margin 180ms;
  transition: opacity 180ms, margin 180ms;
  position: absolute;
  color: #c0c0c0;
  /*margin-top: -20px;*/
  margin-top:70px;
  margin-left: -115px;
}
.text-menu button:hover {
  color: #fff;
}
.text-menu button.active:hover {
  color: #5c86dc;
}

.g-body .text-menu.active {
  -webkit-animation:pop-upwards 180ms forwards linear;
  -ms-animation:pop-upwards 180ms forwards linear;
  animation:pop-upwards 180ms forwards linear;
}

.customurl {
  font-size: 16px !important;
  font-family: 'icomoon' !important;
}

.image-tooltip {
  position: absolute;
}

.image-tooltip.hide, .text-menu.hide {
  left: -999px;
  top: -999px;
}

.text-menu.fade {
  opacity: 0;
  margin-top: -5px;
}

.text-menu .active {
  color: #5c86dc;
}




.text-menu button {
  -webkit-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  transition: opacity 400ms;

  font-family: inherit;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: inherit;
  padding: 0px;
  height: 32px;
  width: 25px;
  border: 0px;
  outline: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.button-options button {
	width:100%;
}


.options {
	width: 386px;
  background-color: #494949;
  position: relative;
  /*margin-left: 23px;
  margin-top: 60px;*/
  z-index: 1000;
  font-family:roboto;
  padding: 5px 4px 5px 8px;
  height: 30px;
  -webkit-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.img-options {
  background-color: #494949;
  position: relative;
  /*margin-left: 23px;
  margin-top: 60px;*/
  z-index: 1000;
  font-family:roboto;
  padding: 5px 4px 5px 8px;
  width: 270px;
  height: 30px;
  -webkit-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.align-options,.list-options,.font-options,.button-options,.style-options,.media-options,.personalize-options {
  background-color: #494949;
  position: absolute;
  /*margin-left: 23px;*/
  margin-top: -1px;
  font-family:roboto;
  display: none;
  z-index: 1000;
  padding: 2px 0;
  height: auto;
  -webkit-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: -1;
}
.align-options{left:160px; width: 150px;}
.style-options{left:0px; top:40px; width: 132px; padding:10px 10px 0;}
.button-options{left:0px; top:40px; width: 132px; padding:10px 10px 0;}
.media-options{left:0px; top:40px; width: 272px; height:200px!important; padding:5px!important;}
.media-options img{cursor: pointer; margin: 3px; border: 2px solid #fff; width:76px; height:57px;}
.list-options{left:230px; width: 80px;}
.font-options{width: 266px;}
.personalize-options{width: 216px;}
.options.url-mode {width: 256px;}
.img-range{margin-top:6px;}


.options.url-mode .header1,
.options.url-mode .header2,
.options.url-mode .header3,
.options.url-mode .header4,
.options.url-mode .header5,
.options.url-mode .header6,
.options.url-mode .justifyLeft,
.options.url-mode .justifyCenter,
.options.url-mode .justifyRight,
.options.url-mode .justifyFull,
.options.url-mode .bold,
.options.url-mode .italic,
.options.url-mode .underline,
.options.url-mode .quote,
.options.url-mode .strikeThrough,
.options.url-mode .insertUnorderedList,
.options.url-mode .insertOrderedList,
.options.url-mode input.textColor,
.options.url-mode button.textColor,
.options.url-mode .personalizeoptions,
.options.url-mode .textColor,
.options.url-mode .customurl,
.options.url-mode .listoptions,
.options.url-mode .alignoptions,
.options.url-mode .fontoptions,
.options.url-mode .buttonoptions,
.options.url-mode .styleoptions,
.options.url-mode .delete  {
  width: 0px;
  overflow: hidden;
  margin-right: 0px;
  opacity: 0;
}

/*.options .italic {
  font-style: italic;
}
.options .underline {
  text-decoration: underline;
}
.options .strikeThrough {
  text-decoration: line-through;
}*/

.options .quote {
  line-height: 54px !important;
  font-size: 41px !important;
}

.options button{
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  background:#424242;
  outline: 1px solid #8e8e8e;
  border:0;
}
.img-options button.tabs{
  float: left;
  width: 40%;
  height: 30px;
  margin-right: 4px;
  background:#424242;
  outline: 1px solid #8e8e8e;
  border:0;
  color:#8e8e8e;
}

.img-options button.tabs1{
  float: left;
  width: 15%;
  height: 30px;
  margin-right: 4px;
  background:#424242;
  outline: 1px solid #8e8e8e;
  border:0;
  color:#8e8e8e;
  cursor:pointer;
}


.options button.textColor{
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  color: transparent !important;
}

.ui-inputs button.buttonbgcolor{ 
  width: 100%;
    height: 25px;
    outline: 1px solid #8e8e8e;
    border: 0;
}


.options.url-mode input{
  border-left: 2px solid transparent;
  padding-right: 5px;
  padding-left: 5px;
  width: 235px;
  background: transparent;
  color: #fff;
}

.options input {
  border-radius: 3px;
  overflow: hidden;
  outline: 0px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  width: 0px;
  /*display: none;*/
}

  
.button-options button.textColor{
  /*float: left;*/
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin-right: 1px;
  margin-top: 5px;
}



/*
.button-options .buttonbgcolor{display:none;}
*/

/*.options:before {
  content: "";
  border-top: 5px solid rgba(0,0,0,0.9);
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  margin-left: -5px;
  bottom: -15px;
  height: 5px;
  width: 0px;
  left: 50%;
}*/
.menu-list{display:inline;}
.menu-list li{list-style:none; display:inline;}

.editor-seperator{border-top:1px solid #666;}
.align-options button{width:23%;}
.list-options button{width:47%;}
.is-open{color:#fff!important;}


/*input[type="range"]{
	-webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;width:90%;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #5c86dc),
        color-stop(0.15, #808090)
    );
	
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
	border-radius:8px;
}

input[type="range"]:focus {
  outline: none;
}
*/



input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 6px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 5px;
  background: #808090;
  background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.15, #5c86dc),
        color-stop(0.15, #808090)
    );
  /*box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;*/
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
  width:150px;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
   background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
	border-radius:8px;
}
input[type="range"]::-moz-range-thumb {
 background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
	border-radius:8px;
}

input[type="range"]::-ms-thumb {
  background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
	border-radius:8px;
}






.range--dark {
    color: #b1bacc;
}

.range {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
    position: relative;
	padding: 7px 8px 5px 8px;
}

.range__title {
    /*-webkit-flex: 1 0 60px;
    -ms-flex: 1 0 60px;
    flex: 1 0 60px;*/
	width: 50px;
	float: left;
    margin-right: 6px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
	margin-top: 4px;
}


.range__slider {
    /*display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;*/
	width: 170px;
	float: left;
	margin: 4px 12px 0 12px;
}


.range__value {
    -webkit-flex: 0 0 30px;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: left;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease,-webkit-transform .4s ease;
}

.range--dark .value-ext {
    color: #b1bacc;
}

.range .value-ext {
    -webkit-appearance: none;
    width: 100%;
    outline: 0;
    border: 0;
    text-align: left;
    padding: 0 4px;
    min-height: 26px;
    font-size: 14px;
	color:#fff;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid transparent;
    transition: border .3s ease,background-color .3s ease;
}


.range--dark .value-ext:focus, .range--dark .value-ext:hover {
    color: #fff;
    background-color: transparent;
}
.range .value-ext:focus, .range .value-ext:hover {
    border: 1px solid #5c86dc;
}


.overflow-list {
    height: 118px;
    position: relative;
    overflow-y: scroll;
	overflow-x: hidden;
    padding: 5px 22px;
}
.menu-list {
    list-style: none;
	margin-left: -40px;
}

.menu-list li {
    color: #b1bacc;
}

.menu-list li {
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 14px;
    cursor: pointer;
	line-height:20px;
}

.padding0{padding:0!important;}
.padding-fonts{padding:0px 0 0px 15px!important;}

.menu_scroll {height: 120px;overflow: auto;overflow-x: hidden !important;}
.popupbox{padding: 10px 0px; font-size:15px;}
.popupbox input{margin-top:8px;}
.colorbutton{width:100%; height:25px; outline: 1px solid #8e8e8e; border:0;}
.mCustomScrollBox{width:100%;}
.mCustomScrollBox button{width:100%; text-align:left;}

/*input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #5c86dc;
}*/
.editblock{border:1px dashed #007f38;}





@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\38";
}
.icon-personalization:before {
  content: "\37";
}
.icon-attach:before {
  content: "\36";
}
.icon-bold:before {
  content: "\35";
}
.icon-center-text:before {
  content: "\34";
}
.icon-cross:before {
  content: "\33";
}
.icon-dot-list:before {
  content: "\32";
}
.icon-dropdown:before {
  content: "\31";
}
.icon-italic:before {
  content: "\30";
}
.icon-justify-all:before {
  content: "\29";
}
.icon-left-text:before {
  content: "\28";
}
.icon-link:before {
  content: "\27";
}
.icon-numbering-list:before {
  content: "\26";
}
.icon-right-text:before {
  content: "\25";
}
.icon-setting:before {
  content: "\24";
}
.icon-strik-ethrough:before {
  content: "\23";
}
.icon-text:before {
  content: "\22";
}
.icon-underline:before {
  content: "\21";
}

.personalizeoptions{width:90px; height:30px; border:0;}

input[type="file"] {display: -webkit-box; visibility:hidden;}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	width:85%;
	background:#525252;
	text-align:center;
	margin:10px 0;
}
#tabs-3 img{cursor:pointer;}

div[contenteditable]:focus {
     outline: none!important;
}


input.buttonbgcolor{display:none;}

.mediaimg{min-height:145px;}