@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5z82m4');
  src:  url('../fonts/icomoon.eot?5z82m4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5z82m4') format('truetype'),
    url('../fonts/icomoon.woff?5z82m4') format('woff'),
    url('../fonts/icomoon.svg?5z82m4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-admin-crediential:before {
  content: "\e900";
}
.icon-check-congrates:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-congrates:before {
  content: "\e903";
}
.icon-database-connectivity:before {
  content: "\e904";
}
.icon-information:before {
  content: "\e905";
}
.icon-requirements:before {
  content: "\e906";
}

