body{ font-family:Raleway;background:#fff;color:#4a4949; height:100%; margin:0; padding:0;}
html{  height:100%; margin:0; padding:0;}
@media (min-width: 240px) {
.xsem50{font-size:5em;}.xsem35{font-size:3.5em;}.xsem30{font-size:3em;}.xsem28{font-size:2.8em;}.xsem26{font-size:2.6em;}.xsem25{font-size:2.5em;}.xsem24{font-size:2.4em;}.xsem22{font-size:2.2em;}.xsem20{font-size:2em;}.xsem19{font-size:1.9em;}.xsem18{font-size:1.8em;}.xsem17{font-size:1.7em;}.xsem16{font-size:1.6em;}.xsem15{font-size:1.5em;}.xsem14{font-size:1.4em;}.xsem13{font-size:1.3em;}.xsem12{font-size:1.2em;}.xsem11{font-size:1.1em;}.xsem10{font-size:1em;}.xsem9{font-size:0.9em;}.xsem8{font-size:0.8em;}.xsem7{font-size:0.7em;}.xsem6{font-size:0.6em;}
.xstext-center{text-align:center;}
.xsmt0{margin-top:0;}.xsmt1{margin-top:1%;}.xsmt2{margin-top:2%;}.xsmt3{margin-top:3%;}.xsmt4{margin-top:4%;}.xsmt5{margin-top:5%;}.xsmt6{margin-top:6%;}.xsmt7{margin-top:7%;}.xsmt8{margin-top:8%;}.xsmt9{margin-top:9%;}.xsmt10{margin-top:10%;}.xsmt11{margin-top:11%;}.xsmt12{margin-top:12%;}.xsmt13{margin-top:13%;}.xsmt15{margin-top:15%;}.xsmt20{margin-top:20%;}.xsmt23{margin-top:23%;}.xsmt24{margin-top:24%;}.xsmt25{margin-top:25%;}
.padding0_lg{padding:0 10px;}
.leftsection{border-left:8px solid #3a5a9d;height:100%;min-height:100%;background:#f9f9f9 ;color:#4a4949;position:fixed;z-index:999;}
.logosection{border-left:8px solid #4f9f4f;background:#f9f9f9;}
.xs_margin{margin-top:120px;}
.line{width:90%; margin:3.5% auto;border-bottom:1px solid #f1f1f1;}
a.homebutton{color:#fff;border-radius:50px; padding:8px 18px; text-decoration:none;outline:none;background: #3a5a9d;}

a.adminbutton{color:#fff;border-radius:50px; padding:8px 20px; text-decoration:none;outline:none;background: #da5e00;
background: -moz-linear-gradient(top,  #da5e00 0%, #d75400 48%, #d75300 51%, #d85500 53%, #db6404 100%);
background: -webkit-linear-gradient(top,  #da5e00 0%,#d75400 48%,#d75300 51%,#d85500 53%,#db6404 100%);
background: linear-gradient(to bottom,  #da5e00 0%,#d75400 48%,#d75300 51%,#d85500 53%,#db6404 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da5e00', endColorstr='#db6404',GradientType=0 );
}
a.button{color:#fff;border-radius:50px; padding:8px 22px; text-decoration:none;outline:none;background: #3a5a9d;
}

}
@media (min-width: 240px) and (max-width: 767px){.xs_padding{padding:0;}.xstextcenter{text-align:center;}}
@media (min-width: 420px) and (max-width: 767px) {.xs_margin{margin-top:140px;}}

@media (min-width: 768px) {
.smem70{font-size:7em;}.smem60{font-size:6em;}.smem35{font-size:3.5em;}.smem30{font-size:3em;}.smem28{font-size:2.8em;}.smem26{font-size:2.6em;}.smem25{font-size:2.5em;}.smem24{font-size:2.4em;}.smem23{font-size:2.3em;}.smem22{font-size:2.2em;}.smem20{font-size:2em;}.smem19{font-size:1.9em;}.smem18{font-size:1.8em;}.smem17{font-size:1.7em;}.smem16{font-size:1.6em;}.smem15{font-size:1.5em;}.smem14{font-size:1.4em;}.smem13{font-size:1.3em;}.smem12{font-size:1.2em;}.smem11{font-size:1.1em;}.smem10{font-size:1em;}.smem9{font-size:0.9em;}.smem8{font-size:0.8em;}.smem7{font-size:0.7em;}
.mt0{margin-top:0;}.mt05{margin-top:0.5%;}.mt1{margin-top:1%;}.mt2{margin-top:2%;}.mt3{margin-top:3%;}.mt4{margin-top:4%;}.mt5{margin-top:5%;}.mt6{margin-top:6%;}.mt7{margin-top:7%;}.mt8{margin-top:8%;}.mt9{margin-top:9%;}.mt10{margin-top:10%;}.mt12{margin-top:12%;}.mt13{margin-top:13%;}.mt14{margin-top:14%;}.mt15{margin-top:15%;}.mt18{margin-top:18%;}.mt11{margin-top:0.7%;}.mt011{margin-top:11%;}.mt20{margin-top:20%;}
.mlsm{margin-left:0%;} .mlsm25{margin-left:-25%;}.mlsm21{margin-left:-21%;}
.padding0_lg{padding:0;}
.leftsection{border-left:40px solid #3a5a9d;height:100%;min-height:100%;background:#f9f9f9 ;color:#4a4949;position:fixed;z-index:999;}
.xs_margin{margin-top:15%;}
.xstext-center{text-align:right;}
.line{width:80%; margin:3.5% auto;border-bottom:1px solid #f1f1f1;}
a.homebutton{color:#fff;border-radius:50px; padding:9px 50px; text-decoration:none;outline:none;background: #3a5a9d;

}

a.adminbutton{color:#fff;border-radius:50px; padding:8px 30px; text-decoration:none;outline:none;background: #da5e00;
background: -moz-linear-gradient(top,  #da5e00 0%, #d75400 48%, #d75300 51%, #d85500 53%, #db6404 100%);
background: -webkit-linear-gradient(top,  #da5e00 0%,#d75400 48%,#d75300 51%,#d85500 53%,#db6404 100%);
background: linear-gradient(to bottom,  #da5e00 0%,#d75400 48%,#d75300 51%,#d85500 53%,#db6404 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da5e00', endColorstr='#db6404',GradientType=0 );
}
a.button{color:#fff;border-radius:50px; padding:8px 27px; text-decoration:none;outline:none;background: #3a5a9d;
background: -moz-linear-gradient(left, #3a5a9d 0%, #399339 50%, #399339 51%, #3f963f 71%, #489b48 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, #3a5a9d), color-stop(50%, #399339), color-stop(51%, #399339), color-stop(71%, #3f963f), color-stop(100%, #489b48));
background: -webkit-linear-gradient(left, #3a5a9d 0%, #399339 50%, #399339 51%, #3f963f 71%, #489b48 100%);
background: -o-linear-gradient(left, #3a5a9d 0%, #399339 50%, #399339 51%, #3f963f 71%, #489b48 100%);
background: -ms-linear-gradient(left, #3a5a9d 0%, #399339 50%, #399339 51%, #3f963f 71%, #489b48 100%);
background: linear-gradient(to right, #3a5a9d 0%, #399339 50%, #399339 51%, #3f963f 71%, #489b48 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5a9d', endColorstr='#489b48', GradientType=1 );
}

}

.nxt-button{color:#fff;border-radius:50px; padding:8px 27px; text-decoration:none;outline:none;background: #3a5a9d;
border:none;
}
@media (min-width: 992px) {
.mdem70{font-size:7em;}.mdem45{font-size:4.5em;}.mdem36{font-size:3.6em;}.mdem35{font-size:3.5em;}.mdem30{font-size:3em;}.mdem28{font-size:2.8em;}.mdem26{font-size:2.6em;}.mdem25{font-size:2.5em;}.mdem24{font-size:2.4em;}.mdem23{font-size:2.3em;}.mdem22{font-size:2.2em;}.mdem21{font-size:2.1em;}.mdem20{font-size:2em;}.mdem19{font-size:1.9em;}.mdem18{font-size:1.8em;}.mdem17{font-size:1.7em;}.mdem16{font-size:1.6em;}.mdem15{font-size:1.5em;}.mdem14{font-size:1.4em;}.mdem13{font-size:1.3em;}.mdem12{font-size:1.2em;}.mdem11{font-size:1.1em;}.mdem10{font-size:1.0em;}.mdem9{font-size:0.9em;}.mdem8{font-size:0.8em;}
.padding0_lg{padding:0;}
.leftsection{border-left:60px solid #3a5a9d;height:100%;min-height:100%;background:#f9f9f9 ;color:#4a4949;position:fixed;z-index:999;}
.line{width:60%; margin:2.5% auto;border-bottom:1px solid #f1f1f1;}
}


@media (min-width: 1200px) {
.em70{font-size:7em;}.em45{font-size:4.5em;}.em35{font-size:3.5em;}.em30{font-size:3em;}.em28{font-size:2.8em;}.em26{font-size:2.6em;}.em25{font-size:2.5em;}.em24{font-size:2.4em;}.em22{font-size:2.2em;}.em20{font-size:2em;}.em18{font-size:1.8em;}.em16{font-size:1.6em;}.em14{font-size:1.4em;}.em13{font-size:1.3em;}.em12{font-size:1.2em;}.em11{font-size:1.1em;}.em10{font-size:1em;}.em9{font-size:0.9em;}.em8{font-size:0.8em;}.em15{font-size:1.5em;}
.ml1{margin-left:1%;}.ml4{margin-left:4%;}.ml5{margin-left:5%;} .ml22{margin-left:-22%;} 
.leftsection{border-left:70px solid #3a5a9d;height:100%;min-height:100%;background:#f9f9f9 ;color:#4a4949;position:fixed;z-index:999;}
.line{width:60%; margin:2.5% auto;border-bottom:1px solid #f1f1f1;}
}

.mb1{margin-bottom:1%;}.mb2{margin-bottom:2%;}.mb3{margin-bottom:3%;}.mb4{margin-bottom:4%;}.mb5{margin-bottom:5%;}.mb10{margin-bottom:10%;}.w300{font-weight:300;}.w400{font-weight:400;}.w500{font-weight:500;}.w600{font-weight:600;}.w700{font-weight:700;}.w800{font-weight:800;}
.lh135{line-height:135%;}.lh150{line-height:150%;}.lh130{line-height:130%;}.lh125{line-height:125%;}.lh160{line-height:160%;}.lh165{line-height:165%;}.lh140{line-height:140%;}.padding0{padding:0;}

.whitesection{border-top:1px solid #f1f1f1;border-left:1px solid #f1f1f1;width:100%;height:100%;padding:3% 8%;}
a.link{text-decoration:none; color:#4a4949;}
.blacktext{color:#4a4949;}
a.orangetext{color:#de7018; border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;text-decoration:none; padding:3% 0;font-weight:300;outline:none;background:#ffffff !important;}
a.orangetext:hover{color:#de7018; border-top:2px solid #f1f1f1;border-bottom:2px solid #f1f1f1;background:#fff !important;font-weight:400;}
.orange{color:#c5c3c3;}
.tick{color:#3a5a9d;}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
/*Label the data*/
	#no-more-tables td:before { content: attr(data-title); }
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 10px;
}

.table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>th {
 border: 1px solid #9c9c9c !important; 
}

.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td, .table-bordered>thead>tr>td{
 border-left: 1px solid #9c9c9c !important; ; 
 border-right: 1px solid #9c9c9c !important; ; 
 border-top: 1px solid transparent !important; ; 
 border-bottom: 1px solid transparent !important; ; 
}

.table-striped>tbody>tr:nth-of-type(odd) {
background-color: #fff; 
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #3a5a9d;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
	border-radius:25px;
}
.progress {
    height: 25px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 25px;
	border:1px solid #f1f1f1;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.1);
	padding:3px;
}

.fields input[type="text"],.fields input[type="password"]{
    border: 1px solid #d7d7d7;
    background: #ffffff;
    width: 100%;
    padding: 7px;
    outline: none;
    margin-bottom: 8%;
	color:#4a4949;
}

.circle{color:#fff;background:#e38439;}
.box{color:#4a4949;background:#f9f9f9;padding:10px 15px;}
.progress_align{background:#f9f9f9; padding:0 2%;}

.nav-tabs1>li {
    float: left;
    margin-bottom: -1px;
    width: 100%;
}

.nav-tabs1>li.active>a, .nav-tabs1>li.active>a:focus, .nav-tabs1>li.active>a:hover {
    color: #3a5a9d;
    cursor: default;
    background-color: #ffffff;
	border-bottom:1px solid transparent;
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
   
}

.nav-tabs1>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #4a4949;
    background: #f9f9f9;
}
.nav-tabs1>li>a:hover {
    border-color:transparent;
    color: #4a4949;
	background: #f9f9f9;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #f1f1f1;
	z-index:1;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 23px;
	margin-top: -23px;
}
.arrow_box:before {
	border-color: rgba(241, 241, 241, 0);
	border-left-color: #f1f1f1;
	border-width: 24px;
	margin-top: -24px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
	border-bottom:1px solid #9c9c9c;
	padding:0;
}
.thfont th{font-weight:600 !important;}
a.ticon, a.ticon:hover{text-decoration:none !important; outline:none;}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#3a5a9d}
.tooltip-inner{max-width:200px;padding:3px 8px;color:#ffffff !important;text-align:center;background-color:#3a5a9d !important;border-radius:4px;font-size:13px;font-family:Raleway;font-weight:500;}
.clear{clear:both;}

.fieldstep1{margin-bottom:3%;}

 
::-webkit-input-placeholder { /* Chrome */
  color: #8e8d8d;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b7b6b6 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #8e8d8d;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #8e8d8d;
}
/* Pnotify by Hunter Perrin :: 2.0.1 */
.ui-pnotify {
	top: 25px;
	right: 25px;
	position: absolute;
	height: auto;/* Ensures notices are above everything */
	z-index: 9999;
}
/* Hides position: fixed from IE6 */
html > body > .ui-pnotify {
	position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
	background-position: 0 0;
	padding: .8em;
	height: 100%;
	margin: 0;
}
.ui-pnotify-sharp {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.ui-pnotify-title {
	display: block;
	margin-bottom: .4em;
	margin-top: 0;
}
.ui-pnotify-text {
	display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
	display: block;
	float: left;
	margin-right: .2em;
}
/* Alternate stack initial positioning. */

.ui-pnotify.stack-topleft, .ui-pnotify.stack-bottomleft {
	left: 25px;
	right: auto;
}
.ui-pnotify.stack-bottomright, .ui-pnotify.stack-bottomleft {
	bottom: 25px;
	top: auto;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
	float: right;
	margin-left: .2em;
}
/* theming */
.alert-success {
	color: #ffffff;
	background-color: rgba(38, 185, 154, 0.88);
	border-color: rgba(38, 185, 154, 0.88);
}
.alert-info {
	color: #E9EDEF;
	background-color: rgba(52, 152, 219, 0.88);
	border-color: rgba(52, 152, 219, 0.88);
}
.alert-warning {
	color: #E9EDEF;
	background-color: rgba(243, 156, 18, 0.88);
	border-color: rgba(243, 156, 18, 0.88);
}
.alert-danger, .alert-error {
	color: #E9EDEF;
	background-color: rgba(231, 76, 60, 0.88);
	border-color: rgba(231, 76, 60, 0.88);
}
.alert-dark, .btn-dark {
	color: #E9EDEF;
	background-color: rgba(52, 73, 94, 0.88);
	border-color: rgba(52, 73, 94, 0.88);
}
.btn-dark:hover {
	color: #F7F7F7;
}
/* /theming */
/* /Pnotify by Hunter Perrin :: 2.0.1 */
