:focus {
outline: 0;
}
@media (min-width:240px){
.inline-editor-header{background:#4a4949;padding:12px 15px;position:fixed;width:100%; z-index:1;}
.inline-editor-footer{background:#4a4949;padding:7px 15px;	position:fixed;bottom:0;width:100%;}
.inline-btn-right{ float:inherit !important;}
}
@media (min-width:768px){
.inline-editor-header{background:#4a4949;padding:12px 30px;position:fixed;width:100%; z-index:1;}
.inline-editor-footer{background:#4a4949;padding:7px 30px;	position:fixed;bottom:0;width:100%;}
.inline-btn-right{ float:right !important;}
}
.inline-editor-tab ul {margin:0; padding:0;}.inline-editor-tab li{display:inline; list-style:none; margin-right:5px;}
.inline-editor-tab li:last-child{ margin-right:0px;}
.inline-editor-tab li a{padding:6px 15px; border:solid 1px #7a7a7a;color:#ffffff; display:inline-block; text-decoration:none; cursor:pointer;
background: rgba(74,72,73,1);
background: -moz-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,72,73,1)), color-stop(100%, rgba(48,48,48,1)));
background: -webkit-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: -o-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: -ms-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: linear-gradient(to bottom, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4849', endColorstr='#303030', GradientType=0 );
}
.inline-editor-tab li a.btn-width{ min-width:140px; text-align:center;}
.inline-editor-tab li a.personalization-menu-width{ min-width:160px; text-align:left;}
.inline-editor-tab li a.personalization-menu-width span{ float: right;margin-top: 9px;}

.inline-editor-content{height:100%; width:100%; background-color:#e9e9e9; position:absolute;}
.content-section{ max-width:600px; margin:0 auto;}
.scroll-hidden{ overflow:hidden;}
a.inline-editor-btn{
border:solid 1px #335292 !important;
min-width:100px;
text-align:center;
background:#3a5a9d !important;
}
.tempreview-modal{width: 40%;height:inherit;position: absolute;z-index: 1; background-color:#e9e9e9; top:0; right:0;}
.template-heading{ height:45px; line-height:45px; padding:0px 30px;}
.template-tab-bg{ background-color:#ffffff; border-bottom:solid 1px #dedede; padding:12px 0px;}
.border-hidden{ border:hidden !important;}
.temp-tabs-nav ul{border-bottom:none !important;}
.temp-tabs-nav ul li a{background-color:transparent !important; border:solid 1px #dedede !important; color: #4a4949; padding: 7px 40px !important; border-radius:0px !important; margin-right:-3px !important;}
.temp-tabs-nav ul li a:hover{background-color:transparent !important; border-bottom: solid 1px #dedede !important;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
cursor: default;background-color:#3a5a9d !important;border:solid 1px #3a5a9d !important;
font-weight:600 !important; outline:none !important; border-radius:0px !important;  color:#ffffff;}
.close-modal{ background:#2c2c2c; width:45px; height:45px; color:#ffffff; font-size:20px; position:absolute; top:0; right:0; text-align:center; line-height:45px;}
.close-modal:hover{ background:#2c2c2c; width:45px; height:45px; color:#ffffff; font-size:20px; position:absolute; top:0; right:0; text-align:center; line-height:45px; text-decoration:none;}

.editor-content{height:100%; position:absolute;}
.inline-editor-section{ max-width:600px; margin:0 auto;}
.mobile-editor-content{ overflow-y:auto; right:7px; height:100%; position:absolute; background:#ffffff;}
.mobile-editor-section{ width:261px; margin-top:20px !important; height:490px; margin:0 auto; background:url(../images/mobile-editor.jpg) no-repeat; padding:50px 22px 0px 20px }
.center-tabs.centered > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.center-tabs.centered, .nav-pills.centered {
    text-align:center;
}
@media (min-width:240px){
.personalization-menu{
	top:auto !important;
	left:auto !important;
	border-radius:0px !important;
}}
@media (min-width:600px){
.personalization-menu{
	top:auto !important;
	left:0 !important;
	
}}
.personalization-menu li {

margin:0 !important;
width:100% !important;
}
.personalization-menu li a{
display: block !important;
padding:7px 15px !important;
clear: both;
font-weight: 400;
line-height: 1.42857143;
white-space: nowrap;
margin:0 !important;
background:#3c3c3c !important;
border:none !important;
color:#ffffff !important; 
font-size:13px; 
}
.personalization-menu li  a:hover{
color:#4968aa !important; 
}
.iframe-full-height{overflow: hidden; height:100%; position: absolute;width:650px;}
