:focus {
outline: 0;
}
@media (min-width:240px){
.inline-editor-header{background:#4a4949;padding:12px 15px;position:fixed;width:100%; z-index:1;}
.inline-editor-footer{background:#4a4949;padding:7px 15px;	position:fixed;bottom:0;width:100%;}
.inline-btn-right{ float:inherit !important;}
}
@media (min-width:768px){
.inline-editor-header{background:#4a4949;padding:12px 30px;position:fixed;width:100%; z-index:1;}
.inline-editor-footer{background:#4a4949;padding:7px 30px;	position:fixed;bottom:0;width:100%;}
.inline-btn-right{ float:right !important;}
}
.inline-editor-tab ul {margin:0; padding:0;}.inline-editor-tab li{display:inline; list-style:none; margin-right:5px;}
.inline-editor-tab li:last-child{ margin-right:0px;}
.inline-editor-tab li a{padding:6px 15px; border:solid 1px #7a7a7a;color:#ffffff; display:inline-block; text-decoration:none; cursor:pointer;
background: rgba(74,72,73,1);
background: -moz-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,72,73,1)), color-stop(100%, rgba(48,48,48,1)));
background: -webkit-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: -o-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: -ms-linear-gradient(top, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
background: linear-gradient(to bottom, rgba(74,72,73,1) 0%, rgba(48,48,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4849', endColorstr='#303030', GradientType=0 );
}
.inline-editor-tab li a.btn-width{ min-width:140px; text-align:center;}
.inline-editor-tab li a.personalization-menu-width{ min-width:160px; text-align:left;}
.inline-editor-tab li a.personalization-menu-width span{ float: right;margin-top: 9px;}

.inline-editor-content{height:100%; width:100%; background-color:#e9e9e9;}
.content-section{ width:100%; height:100%;overflow-y:scroll;position:absolute;}
.scroll-hidden{ overflow:hidden;}
a.inline-editor-btn{
border:solid 1px #335292 !important;
min-width:100px;
text-align:center;
background:#3a5a9d !important;
}
@media (min-width:240px){
.tempreview-modal{width:100%;height:100%;position: absolute;z-index: 1; background-color:#FF0000; top:58px; right:0%;}}
@media (min-width:992px){
.tempreview-modal{width:27%;height:100%;position: absolute;z-index: 1; background-color:#FF0000; top:59px; right:1%;}}

.close-modal{ background:#3a5a9d ; width:25px; height:25px; color:#ffffff; font-size:15px; position:absolute; top:0; right:0; text-align:center; line-height:25px; z-index:1;}
.close-modal:hover{ background:#3a5a9d ; color:#ffffff; text-decoration:none;}


.mobile-editor-content{ overflow-y:auto; height:100%; position:absolute; background:#ffffff;}
.mobile-editor-section{ width:320px; margin-top:30px !important; height:490px; margin:0 auto; background:url(../images/mobile-editor.jpg) no-repeat; padding:50px 22px 0px 20px; }
.mobile-preview{width:100%; height:385px; overflow-y:scroll;}
.iframe-full-height{overflow: hidden; height:100%; position:absolute;width:100%;}

