/* top header css*/
* {
	outline: none;
}

a:focus { 
    outline: none; 
}
.padding0 {
	padding: 0;
}
.accountlinks a, .accountlinks img {
	display: inline-block;
	vertical-align: middle;
	z-index: 10000; /*margin-left:-4px;*/
}
.accountlinks a {
	padding: 14px 14px 13px 14px;
	line-height: 44px;
	text-decoration:none;
}
/*.accountlinks a.notifications {
	position: fixed;
	top: 0;
	right: 45px;
	color: #606060;
	line-height: 44px;
}*/
.accountlinks a.questionmark {
	position: fixed;
	top: 0;
	right:45px;
	/*border-left: solid 1px #dedede;*/
	color: #ffffff;
}
.accountlinks a.search {
	position: fixed;
	top: 0;
	right: 135px;
	color: #ffffff;
}
img.profile {
	width: 45px;
	height: 44px;
	border-left: 1px solid #0f327e;
	position: fixed;
	top: 0;
	right: 0;
}
.accountlinks a:hover {
	color: #ffffff;
	background: #4968aa;
	text-decoration:none;
}
.transition a {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.dropdown-menu>li>a {
	white-space: normal !important;
	margin-left: 0 !important;
	padding: 12px 0;
	color: #4a4949 !important;
	margin: 0 !important;
	border-left: solid 2px #f6f9fd;
	border-bottom: solid 1px #e5ebf5;
	display:block;
	
}
.dropdown-menu>li>a:hover {
	white-space: normal !important;
	margin-left: 0 !important;
	color: #3a5a9d !important;
	background-color: #f6f9fd !important;
	margin: 0 !important;
	border-left: solid 2px #3a5a9d;
}
.circle {
	width: 30px;
	height: 30px;
	background: #85b5da;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
	margin-left: 10px;
}
.circle-border {
	border-bottom: 1px solid #d6d6d6;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent !important;
}
.dropdown {
	list-style: none;
}
.notifiction_headig {
	padding: 10px 0px 10px 10px;
	border-bottom: 1px solid #037aa6;
	color: #037aa6;
}
.sag-border {
	border-bottom: 1px solid #4f9f4f;
	padding:7px 12px;
}
/* Dashboard media*/
@media (min-width: 240px) {
.dropdown-menu {
	background-color: #f6f9fd !important;
	border-radius: 0 !important;
	box-shadow: 0 0px 0px rgba(0,0,0,.175) !important;
	width: 250px !important;
	padding: 1% 0% !important;
	left: auto !important;
	right: 0;
	height: 1000px;
	overflow-x: auto;
	overflow-y: auto;
	margin: 0;
	position: fixed;
	z-index: 1899;
	top: 45px;
	border-left: solid 1px #bccce2 !important;
}
}
@media (min-width: 768px) {
.dropdown-menu {
	background-color: #f6f9fd !important;
	border-radius: 0 !important;
	box-shadow: 0 0px 0px rgba(0,0,0,.175) !important;
	width: 250px !important;
	padding: 1% 0% !important;
	left: auto !important;
	right: 0;
	height: 1000px;
	overflow-x: auto;
	overflow-y: auto;
	margin: 0;
	position: fixed;
	z-index: 1899;
	top: 45px;
	border-left: solid 1px #bccce2 !important;
}
}
@media (min-width: 992px) {
.dropdown-menu {
	background-color: #f6f9fd !important;
	border-radius: 0 !important;
	box-shadow: 0 0px 0px rgba(0,0,0,.175) !important;
	width: 250px !important;
	padding: 0% 0% !important;
	left: auto !important;
	right: 0;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	margin: 0;
	position: fixed;
	z-index: 1899;
	top: 45px;
	border-left: solid 1px #bccce2 !important;
}
}
@media (min-width: 1200px) {
.dropdown-menu {
	background-color: #f6f9fd !important;
	border-radius: 0 !important;
	box-shadow: 0 0px 0px rgba(0,0,0,.175) !important;
	width: 250px !important;
	padding: 0% 0% !important;
	left: auto !important;
	right: 0;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	margin: 0;
	position: fixed;
	z-index: 1899;
	top: 45px;
	border-left: solid 1px #bccce2 !important;
}
}


/* left menu start*/
.saglus_icon a {
	position: fixed;
	width: 70px;
	height: 44px;
	border-right: solid 1px #3a5a9d;
	border-left: solid 1px #3a5a9d;
	left: 69px;
	text-align: center;
	padding: 5px 0px 0px 22px;
}
.saglus_icon a:hover {
	background-color: #f1f1f1;
}
.sag_logo {
	background: url(http://saglus.com/sag_cms/assets/panel/images/saglus_logo.png) no-repeat center center;
	width: 24px;
	height: 34px;
}
.sag_logo:hover {
	background: url(http://saglus.com/sag_cms/assets/panel/images/saglus_logo_hover.png) no-repeat;
}
.applogo a {
	color: #9da9b1;
	font-family: roboto;
	font-size: 23px;
	float: left;
	height: 44px;
	padding:7px 0px 0px 15px;
	position: fixed;
	left: 69px;
	letter-spacing: -1.5px;
	border-left: solid 1px #3a5a9d;
	
}
.applogo a:hover {
	color: #758691;
	padding:7px 0px 0px 15px;
	
	text-decoration: none;
}
.applogo a img {
	width: 100%;
	
}
@media (max-width:767px) {
.logo_hidden {
	display: none !important;
}
.applogo a {
	color: #9da9b1;
	font-family: roboto;
	font-size: 21px;
	float: left;
	position: fixed;
	left: 65px;
	letter-spacing: -1.5px;
	border-left: solid 1px #3a5a9d;
}
.applogo a:hover {
	color: #758691;
	font-family: roboto;
	/*background-color: #f1f1f1;*/
	text-decoration: none;
}
.applogo a img {
	width: 100%;
	padding-top: 0px;
}
}
.navbar {
	padding-left: 56px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	background-color: #3a5a9d;
	min-height: 0px;
	border-bottom: solid 1px #dedede;
	height: 45px;
}
.navbar > .container, .navbar > .container-fluid {
	z-index: 10001;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	height: 45px;
	margin-left: 0px;
	font-weight: 400;
	padding: 0;
	font-size: 1.5em;
}
.navbar > .container .navbar-brand .fa-angle-right, .navbar > .container-fluid .navbar-brand .fa-angle-right {
	margin-left: 5px;
	margin-right: 5px;
}
.navbar > .container .navbar-expand-toggle, .navbar > .container-fluid .navbar-expand-toggle {
	width: 69px;
	height: 44px;
	background-color: #3d3838;
	border: 0px;
	float: left;
	z-index: 100000;
	position: fixed;
	left: 0;
	
}
.navbar > .container .navbar-expand-toggle, .navbar > .container-fluid .navbar-expand-toggle:hover {
	width: 69px;
	height: 44px;
	background-color: #3d3838;
	border: 0px;
	float: left;
	/*-moz-transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;*/
	z-index: 100000;
	position: fixed;
	left: 0;
}
.navbar-expand-toggle:before {
	font-family: 'icomoon' !important;
	content: "\e904";
	color: #ffffff;
	
}
/*.navbar-expand-toggle:hover:before {
	font-family: 'icomoon' !important;
	content: "\e103";
	color: #bababa;
	
	
	
}*/
.arrowopen:before {
	/*font: normal normal normal 15px/2 FontAwesome;
	content: "\e102";
	color:#037aa6;*/
	font-family: 'icomoon' !important;
	content: "\e905";
	color: #ffffff;
}
.navbar > .container .navbar-expand-toggle .icon, .navbar > .container-fluid .navbar-expand-toggle .icon {
	font-size: 1.4em;
}
.navbar > .container .navbar-right-expand-toggle, .navbar > .container-fluid .navbar-right-expand-toggle {
	width: 70px;
	background-color: transparent;
	border: 0px;
	position: absolute;
	right: 0;
	-moz-transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
	opacity: 0.75;
	
}
.navbar > .container .navbar-right-expand-toggle .icon, .navbar > .container-fluid .navbar-right-expand-toggle .icon {
	font-size: 1.4em;
	
}
.navbar .dropdown-menu {
	padding: 0;
	border: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	z-index: 999;
}
.navbar .dropdown-menu .title {
	padding: 5px 10px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.app-container {
	position: relative;
	padding-bottom: 0px;
}
.app-container .content-container {
	margin-right: 0;
	margin-left: 0;
}
.app-container .content-container .side-menu {
	z-index: 999;
	position: fixed;
	width: 70px;
	height: 100%;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	/*border-right:solid 1px #f1f1f1;*/
	overflow: hidden;
	margin-top: 45px;
	border-top: hidden;
	
}
.app-container .content-container .side-menu .navbar-header {
	width: 100%;
	
}
.app-container .content-container .side-menu .navbar-header .navbar-brand {
	width: 455px;
	height: 45px;
	padding: 0;
	width: 100%;
	overflow: hidden;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand .icon {
	text-align: center;
	display: inline-block;
	padding-left: 15px;
	
}
.app-container .content-container .side-menu .navbar-header .navbar-brand .title {
	margin-left: -31px;
	display: none;
	
	z-index: 100000;
	padding-top: 2px;
}
.app-container .content-container .side-menu .navbar-header .navbar-expand-toggle {
	position: absolute;
	right: 0;
	width: 70px;
	background-color: transparent;
	border: 0px;
	-moz-transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
	border-radius:0;
}
.app-container .content-container .side-menu .navbar {
	border: none;
	padding-left: 0px;
	height: 100%;
	background-color: #f6f9fd;
	border-right:solid 1px #bccce2;
	border-radius:0px;
}
.app-container .content-container .side-menu .navbar-nav li {
	display: block;
	width: 100%;
	overflow: hidden;
}
.app-container .content-container .side-menu .navbar-nav li a {
	padding: 0 11px 0 11px;
	height: 46px;
	line-height: 46px;
	display: block;
	white-space: nowrap;
	border-bottom: solid 1px #e5ebf5;
	font-size: 15px;
	font-weight: normal;
	color: #4a4949;
	border-left: solid 3px #f6f9fd;
	margin-left:0px;
}
.app-container .content-container .side-menu .navbar-nav li a:hover {
	height: 46px;
	line-height: 46px;
	display: block;
	white-space: nowrap;
	border-bottom: solid 1px #e5ebf5;
	font-size: 15px;
	font-weight: normal;
	background-color: #f6f9fd;
	border-left: solid 3px #3a5a9d;
	margin-left: 0px;
	color:#3a5a9d;
}
.app-container .content-container .side-menu .navbar-nav li a:focus {
	padding: 0 10px 0 10px;
	height: 46px;
	line-height: 46px;
	display: block;
	white-space: nowrap;
	border-bottom: solid 1px #e5ebf5;
	font-size: 15px;
	font-weight: 300;
	background-color: #f6f9fd;
	border-left: solid 3px #3a5a9d;
	margin-left: 0px;
	color:#3a5a9d;
}
.app-container .content-container .side-menu .navbar-nav li a .icon {
	margin-left: 12px;
	text-align: center;
	font-size: 1.4em;
	border-left: hidden;
	line-height:45px;
	
}
.app-container .content-container .side-menu .navbar-nav li a .title {
	width: 0px;
	white-space: nowrap;
	padding-left:25px;
	display: none;
	position:relative;
	top:-3px;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown {
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	box-shadow: none;
	background-color:#f6f9fd;
	width: 100%;
}
.panel-body {
	padding: 0px 0px 0px 20px;
	border-bottom: solid 1px #e5ebf5;
	background-color:#f6f9fd;
	width: 100%;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a {
	line-height: 43px;
	height: 43px;
	vertical-align: middle;
	padding: 0em 1.2em;
	border-bottom: none;
	font-weight: normal;
	color: #4a4949;
	border-left: hidden;
	/*background: url(../images/line_circle.png) no-repeat;*/
	padding-left: 31px;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a:hover {
	line-height: 43px;
	height: 43px;
	vertical-align: middle;
	padding: 0em 1.2em;
	border-bottom: none;
	font-weight: normal;
	
	border-left: hidden;
	/*background: url(../images/line_circle_hover.png) no-repeat #f3f8fa;*/
	padding-left: 31px;
	background-color:#f6f9fd;
	color: #3a5a9d;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown > a:after {
	content: "";
	position: absolute;
	right: 1em;
}


.app-container .content-container .side-menu .navbar-nav .panel-collapse.in {
	display: none;
}
.app-container .content-container .side-menu:hover {
	width: 250px;
}
.app-container .content-container .side-menu:hover .navbar-header .navbar-brand .title {
	display: inline-block;
}
.app-container .content-container .side-menu:hover .navbar-nav li a .title {
	width: 192px;
	display: inline-block;
}
.app-container .content-container .side-menu:hover .navbar-nav li.dropdown > a:after {
	font-family: FontAwesome;
	content: "\f105";
	position: absolute;
	right: 1em;
}
.app-container .content-container .side-menu:hover .navbar-nav li.dropdown.arrowexp > a:after {
	font-family: FontAwesome;
	content: "\f107";
	position: absolute;
	right: 1em;
}
.app-container .content-container .side-menu:hover .panel-collapse.in {
	display: block;
}
.app-container .content-container .side-body {
	padding-top: 70px;
}
.app-container .content-container .side-body.padding-top {
	padding-top: 84px;
}
.app-container.expanded .app-footer {
	left: 250px;
}
.app-container.expanded .app-footer .wrapper {
	padding-left: 25px;
}
.app-container.expanded .content-container .navbar-top {
	padding-left: 250px;
}
.app-container.expanded .content-container .side-menu {
	width: 250px;
}
.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title {
	display: inline-block;
}
.app-container.expanded .content-container .side-menu .navbar-nav li a .title {
	display: inline-block;
}
.app-container.expanded .content-container .side-menu .navbar-nav li .panel-collapse.in {
	display: block;
}
.app-container.expanded .content-container .side-menu .navbar-nav li.dropdown > a:after {
	font-family: FontAwesome;
	content: "\f105";
	position: absolute;
	right: 1em;
	
}
.app-container.expanded .content-container .side-menu .navbar-nav li.dropdown.arrowexp > a:after {
	font-family: FontAwesome;
	content: "\f107";
	position: absolute;
	right: 1em;
	
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
	margin-left: -15px;
	margin-right: -15px;
}
/* Main body section */
.app-container .side-body {
	margin-left:67px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	margin-top:45px;
}
.app-container.expanded .side-body {
	margin-left: 250px;
}

/* small screen */
@media (max-width: 768px) {
.navbar {
	padding-left: 0;
}
vbar .navbar-header {
	width: auto;
	display: block;
}
.navbar .navbar-nav {
	width: auto;
	margin: 0;
}
.navbar .navbar-nav > li {
	display: inline-block;
}
.navbar .navbar-right {
	position: absolute;
	top: 0;
	right: -100%;
	height: 100%;
	width: 100%;
	-moz-transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.navbar .navbar-right .open .dropdown-menu {
	position: absolute;
}
.navbar .navbar-right.expanded {
	right: 0;
}
.app-container .side-body {
	margin-left: 0px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.app-container .navbar-top {
	min-width: 300px;
}
.app-container .content-container .side-menu {
	margin-left: -250px;
	width: 0px;
	height: 100%;
}
.app-container .content-container .side-body {
	margin-left: 10px;
}
.app-container.expanded .navbar-top {
	min-width: 480px;
	padding-left: 0px;
}
.app-container.expanded .side-menu {
	margin-left: 0px;
	width: 250px;
	height: 100%;
}
.app-container.expanded .side-body {
	margin-left: 10px;
}
.app-container .app-footer .wrapper, .app-container.expanded .app-footer .wrapper {
	padding-left: 25px;
}
}
.breadcrumb {
	margin-bottom: 0;
}
.breadcrumb > li + li:before {
	font-family: FontAwesome;
	content: '\f105';
	margin-right: 3px;
}
 @media only screen and (max-width: 768px) {
.landing-page .navbar .navbar-header .navbar-brand {
	padding-left: 15px;
}
}
 .row-example > [class*="col-"] {
 margin-bottom: 0px;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
/* Navbar positioning foo */
.navbar-wrapper .container {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar {
	padding-right: 0;
	padding-left: 0;
}
/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
	border-radius: 4px;
}
/* Bump up size of carousel content */
.carousel-caption p {
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 1.4;
}
.featurette-heading {
	font-size: 50px;
}
}
 @media (min-width: 992px) {
.featurette-heading {
	margin-top: 100px;
	margin-bottom: 20px;
}
}
/* dropdown css start*/
.drop_position {
	position: fixed;
	top: 0;
	left: 46%;
	width: 100%;
	height: 44px;
	z-index: 1111;
}
.dropbtn {
	color: #000;
	border: none;
	cursor: pointer;
	width: 200px;
	background-color: #edf1f3;
	line-height: 44px;
}
.dropbtn:before {
	color: white;
	right: 0px;
	padding-right: 20px;
	position: absolute;
	top: 2px;
}
.dropbtn:hover:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	content: "\f107";
	color: #606060;
	right: 0;
	padding-right: 20px;
	top: 2px;
	font-size: 16px;
}
.dropbtn:hover, .dropbtn:focus {
	background-color: #edf1f3 !important;
	box-shadow: 0px 0px 4px 0px #ccc;
	-webkit-box-shadow: 0px 0px 4px 0px #ccc;
	border-bottom: solid 1px #d9dde0;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 200px;
	box-shadow: 0px 2px 4px #ccc;
	-webkit-box-shadow: 0px 2px 4px #ccc;
	max-height: 550px;
	overflow: auto;
	overflow-x: hidden;
}
.dropdown-content a {
	color: black;
	padding: 11px 10px 11px 20px;
	text-decoration: none;
	display: block;
	color: #606060;
	border-bottom: solid 1px #f1f1f1;
	line-height: normal;
}
.dropdown-content a.active {
	color: black;
	text-decoration: none;
	display: block;
	color: #606060;
	font-weight: 700;
}
.dropdown-content a.line {
	color: black;
	padding: 11px 10px 11px 20px;
	text-decoration: none;
	display: block;
	color: #606060;
	border-bottom: hidden;
}
.drop_link_bg {
	background-color: #edf1f3;
}
.dropdown-content a:hover {
	background-color: #f3f8fa;
	color: #606060;
}
.show {
	display: block;
}
.back_overlay {
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	z-index: 111;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none
}
/* dropdown css end*/

.menu_logo_fix {
	width: 100%;
	bottom: 0;
	position: absolute;
	margin-bottom: 42px;
	background-color: #edf1f3;
	z-index: 1;
}
.sag_logo_menu {
	padding: 6px 27px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
	border-radius: 22px;
	display: inline;
	margin: 0px 7px 10px 7px;
	webkit-box-shadow: 0 8px 6px -6px #e5e5e5;
	-moz-box-shadow: 0 8px 6px -6px #e5e5e5;
	box-shadow: 0 8px 6px -6px #e5e5e5;
}
.edu_logo_menu {
	padding: 9px 16px 9px 16px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
	border-radius: 22px;
	display: inline;
	margin: 0px 0px 10px 0px;
	webkit-box-shadow: 0 8px 6px -6px #e5e5e5;
	-moz-box-shadow: 0 8px 6px -6px #e5e5e5;
	box-shadow: 0 8px 6px -6px #e5e5e5;
}
 @media (max-width:479px) {
.app-container.expanded .content-container .side-menu {
	width: 96%;
}
.menu_scroll {
	height: 360px;
	overflow: auto;
	overflow-x: hidden !important;
}
}
@media (min-width:480px) and (max-width:580px) {
.app-container.expanded .content-container .side-menu {
	width: 96%;
}
.menu_scroll {
	height: 150px;
	overflow: auto;
	overflow-x: hidden !important;
}
}
@media (min-width:580px) and (max-width:767px) {
.app-container.expanded .content-container .side-menu {
	width: 96%;
}
.menu_scroll {
	height:300px;
	overflow: auto;
	overflow-x: hidden !important;
}
}
 @media (min-width:768px) {
.menu_scroll {
	overflow: auto;
	overflow-x: hidden !important;
	height:95%;
}
}
.menu_width {
	width: 97%;
}

/* mobile menu top css start*/
#mobile-menu-top {
	position: fixed;
	z-index: 99999;
	background-color: #3a5a9d;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:0px 1px 2px 0px rgba(50, 50, 50, 0.2);
	box-shadow:0px 1px 2px 0px rgba(50, 50, 50, 0.2);
	height: 45px;
	width: 100%;
}
.business-name {line-height:45px; color:#ffffff; padding:0px 15px;}
.business-name1{white-space: nowrap;text-overflow:ellipsis;overflow: hidden; position:absolute; left:11%; width:55%;}
@media (min-width:240px){
.desktop-business-name {line-height:45px; color:#ffffff; padding:0px 15px; position:absolute; left:0; right:0; width:30%; margin:0 auto;}}
@media (min-width:768px){
.desktop-business-name {line-height:45px; color:#ffffff; padding:0px 15px; position:absolute; left:20%; right:0; width:30%; margin:0 auto;}}
@media (min-width:992px){
.desktop-business-name {line-height:45px; color:#ffffff; padding:0px 15px; position:absolute; left:8%; right:0; width:50%; margin:0 auto;}}
.mobile-view-icon ul{ margin:0; padding:0;margin-top: -2px;}
.mobile-view-icon ul li{list-style:none; display:inline;}
.mobile-view-icon ul li a{background-color: #3a5a9d;
	text-align: center;
	color: #ffffff;
	border-left: solid 1px #0f327e;
	padding: 11px 12px;
    line-height: 45px;
	font-size:18px;
	text-decoration:none;
	margin-left: -5px;
}
.mobile-view-icon ul li a:hover{background-color: #4968aa;
	text-align: center;
	color: #ffffff;
	text-decoration:none;
	padding: 11px 12px;
    line-height: 45px;
}