body {font-family: raleway;	color: #606060;	background-color: #ffffff;	height: 100%; width: 100%;}
/*.smartmailer-bg{background-color:#f9f9f9;height:100%;width:100%;position:fixed;}*/
/* font-weight css*/
.w3000 {font-weight: 300 !important;}.w300 {font-weight: 300;}.w400 {font-weight: 400;}.w500 {font-weight: 500;}
.w600 {	font-weight: 600;}.w700 {font-weight: 700;}.w800 {	font-weight: 800;}
/* font size css start*/
@media (min-width: 240px) {
.xsem50{font-size:5em}.xsem35{font-size:3.5em}.xsem30{font-size:3em}.xsem28{font-size:2.8em}.xsem26{font-size:2.6em}.xsem25{font-size:2.5em}.xsem24{font-size:2.4em}.xsem22{font-size:2.2em}.xsem20{font-size:2em}.xsem18{font-size:1.8em}.xsem16{font-size:1.6em}.xsem15{font-size:1.5em}.xsem14{font-size:1.4em}.xsem13{font-size:1.3em}.xsem12{font-size:1.2em}.xsem11{font-size:1.1em}.xsem10{font-size:1em}.xsem9{font-size:.9em}.xsem8{font-size:.8em}.xsem7{font-size:.7em}.xsem6{font-size:.6em}.xstext-center{text-align:center}.xstext-right1{text-align:right}.xsmt0{margin-top:0%}.xsmt1{margin-top:1%}.xsmtt1{margin-top:.5%}.xsmt2{margin-top:2%}.xsmtt2{margin-top:2.7%}.xsmt3{margin-top:3%}.xsmt4{margin-top:4%}.xsmt5{margin-top:5%}.xsmt6{margin-top:6%}.xsmt7{margin-top:7%}.xsmt8{margin-top:8%}.xsmt9{margin-top:9%}.xsmt10{margin-top:10%}.xsmt11{margin-top:11%}.xsmt12{margin-top:12%}.xsmt13{margin-top:13%}.xsmt14{margin-top:14%}.xsmt15{margin-top:15%}.xsmb0{margin-bottom:0%}.xsmb1{margin-bottom:1%}.xsmb2{margin-bottom:2%}.xsmb3{margin-bottom:3%}.xsmb4{margin-bottom:4%}.xsmb5{margin-bottom:5%}.xsmb6{margin-bottom:6%}.xsmb10{margin-bottom:10%}.right-border{border-right:none}.left-border{border-left:none}.bottom-border{border-bottom:solid 1px #e5ebf5;padding:10px 0}.mobile-margin{padding-top:30px}
}
@media (min-width: 768px) {
.smem70{font-size:7em}.smem50{font-size:5em}.smem35{font-size:3.5em}.smem30{font-size:3em}.smem28{font-size:2.8em}.smem26{font-size:2.6em}.smem25{font-size:2.5em}.smem24{font-size:2.4em}.smem22{font-size:2.2em}.smem20{font-size:2em}.smem18{font-size:1.8em}.smem17{font-size:1.7em}.smem16{font-size:1.6em}.smem15{font-size:1.5em}.smem14{font-size:1.4em}.smem13{font-size:1.3em}.smem12{font-size:1.2em}.smem11{font-size:1.1em}.smem12{font-size:1.2em}.smem10{font-size:1em}.smem9{font-size:.9em}.smem8{font-size:.8em}.smem7{font-size:.7em}.smem6{font-size:.6em}.right-border{border-right:solid 1px #e5ebf5}.left-border{border-left:solid 1px #e5ebf5}.bottom-border{border-bottom:none}.xstext-center1{text-align:center}.xstext-right{text-align:right}.xstext-left{text-align:left}.mobile-margin{padding-top:0}.mt0{margin-top:0%}.mt1{margin-top:1%}.mtt1{margin-top:.5%}.mt2{margin-top:2%}.mtt2{margin-top:2.7%}.mt3{margin-top:3%}.mt4{margin-top:4%}.mt5{margin-top:5%}.mt6{margin-top:6%}.mt7{margin-top:7%}.mt8{margin-top:8%}.mt9{margin-top:9%}.mt10{margin-top:10%}.mt11{margin-top:11%}.mt12{margin-top:12%}.mt13{margin-top:13%}.mt14{margin-top:14%}.mt15{margin-top:15%}.mt16{margin-top:16%}.mt17{margin-top:17%}.mt18{margin-top:18%}.mt20{margin-top:20%}.mt25{margin-top:25%}.mt30{margin-top:30%}.mb0{margin-bottom:0}.mb1{margin-bottom:1%}.mb2{margin-bottom:2%}.mb3{margin-bottom:3%}.mb4{margin-bottom:4%}.mb5{margin-bottom:5%}.mb6{margin-bottom:6%}.mb7{margin-bottom:7%}.mb8{margin-bottom:8%}.mb25{margin-bottom:25%}
}
@media (min-width: 992px) {
.mdem70{font-size:7em}.mdem45{font-size:4.5em}.mdem36{font-size:3.6em}.mdem35{font-size:3.5em}.mdem30{font-size:3em}.mdem28{font-size:2.8em}.mdem26{font-size:2.6em}.mdem25{font-size:2.5em}.mdem24{font-size:2.4em}.mdem23{font-size:2.3em}.mdem22{font-size:2.2em}.mdem21{font-size:2.1em}.mdem20{font-size:2em}.mdem18{font-size:1.8em}.mdem17{font-size:1.7em}.mdem16{font-size:1.6em}.mdem15{font-size:1.5em}.mdem14{font-size:1.4em}.mdem13{font-size:1.3em}.mdem12{font-size:1.2em}.mdem11{font-size:1.1em}.mdem9{font-size:.9em}.mdem8{font-size:.8em}.mdem7{font-size:.7em}.mdem6{font-size:.6em}
}
@media (min-width: 1200px) {
.em70{font-size:7em}.em50{font-size:5em}.em45{font-size:4.5em}.em42{font-size:4.2em}.em40{font-size:4em}.em39{font-size:3.9em}.em38{font-size:3.8em}.em37{font-size:3.7em}.em36{font-size:3.6em}.em35{font-size:3.5em}.em30{font-size:3em}.em28{font-size:2.8em}.em26{font-size:2.6em}.em25{font-size:2.5em}.em24{font-size:2.4em}.em22{font-size:2.2em}.em20{font-size:2em}.em18{font-size:1.8em}.em16{font-size:1.6em}.em14{font-size:1.4em}.em13{font-size:1.3em}.em12{font-size:1.2em}.em11{font-size:1.1em}.em10{font-size:1em}.em9{font-size:.9em}.em8{font-size:.8em}.em7{font-size:.7em}.em6{font-size:.6em}
}
/* font size css end*/

/* bootstrap modal popup vertcial center css*/
.modal{text-align:center;padding:0!important}
.modal:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-4px}
.modal-dialog{display:inline-block;text-align:left;vertical-align:middle}

/* login page css*/
.login-bg{background:#f4f4f4 url(../images/login-bg.jpg) no-repeat center center fixed;position:absolute;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;height:100%;width:100%}
.smart-login{max-width:375px;margin:0 auto;margin-top:80px}
.login-logo{margin-bottom:36px;text-align:center}
.login-box{background:#fff!important;border-radius:0!important;-moz-border-radius:0;-webkit-border-radius:0;-webkit-box-shadow:0 3px 3px 0 rgba(50,50,50,.2)!important;-moz-box-shadow:0 3px 3px 0 rgba(50,50,50,.2)!important;box-shadow:0 3px 3px 0 rgba(50,50,50,.2)!important;padding:35px 25px}
.login-box input[type="email"],input[type="password"]{border:solid 1px #dfdfdf;border-radius:0;box-shadow:0 0 0 0 rgba(255,255,255,.2)!important;height:35px!important}
.login-box a{color:#4a4949;text-decoration:underline;font-size:13px}
.login-box input[type="submit"]{background-color:#3a5a9d;padding:8px;color:#fff;text-transform:uppercase;border-radius:0;margin-top:25px;font-size:17px}

/* footer css*/
.dbfooter{background:#fff;border-top:1px solid #bccce2;padding:13px 11px;width:100%;float:left;color:#9ca7ac}.dbfooter a{color:#9ca7ac;text-decoration:none}.dbfooter a:hover{text-decoration:none;color:#9ca7ac}.dbfooter a.social{width:26px;padding:6px 0;display:inline-block;border-radius:50%;-webkit-border-radius:50%;color:#9c9c9c;text-align:center;border:solid 1px #9c9c9c;background:transparent;font-size:12px!important}.dbfooter a.facebook:hover{background:#395a9f;color:#fff;border:solid 1px #395a9f}.dbfooter a.twitter:hover{background:#45b0e4;color:#fff;border:solid 1px #45b0e4}.dbfooter a.gplus:hover{background:#cb181e;color:#fff;border:solid 1px #cb181e}.dbfooter a.linkedin:hover{background:#0275b4;color:#fff;border:solid 1px #0275b4}
@media (max-width:768px) {
.table-responsive {
	width: 100%;
	margin-bottom: 0px;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: transparent;
}
}
/*@media (max-width:599px){.footer-height{	width: 100%;float: left;min-height:0px !important;}}*/
.footer-height {
	width: 100%;
	float: left;
}
@media screen and (min-height:100px) {
.footer-height {
	width: 100%;
	float: left;
	min-height: 550px;
}
}
@media screen and (min-height:650px) {
.footer-height {
	width: 100%;
	float: left;
	min-height: 620px;
}
}
@media screen and ( min-height:750px ) {
.footer-height {
	width: 100%;
	float: left;
	min-height: 720px;
}
}
@media screen and ( min-height:780px ) {
.footer-height {
	width: 100%;
	float: left;
	min-height: 800px;
}
}
/* dashboard css start*/
/* Graph css start*/
.chart-no-data{position:absolute; left:0; right:0; margin-top:150px;}
#subchart {
	height: 350px;
}
#unsubchart {
	height: 350px;
}
#mailgraph {
	height: 350px;
}
.subscriberGDiv, .unsubscribeGDiv {
	min-height: 350px;
}
/* dashboard Graph css end*/

@media (min-width:240px) {
.layout-box {
	padding: 15px;
	border: solid 1px #e5ebf5;
	background-color: #ffffff;
}
.layout-box2 {
	padding: 15px;
	border: solid 1px #e5ebf5;
	background-color: #ffffff;
}
.layout-box3 {
	padding: 15px;
	border: solid 1px #e5ebf5;
	background-color: #ffffff;
}
.box-padding {
	padding-left: 15px;
	padding-right: 15px;
}
.cloum-width1 {
	width: 100%;
}
}
 @media (min-width:768px) {
.layout-box {
	padding: 15px 40px;
	border: solid 1px #e5ebf5;
	background-color: #ffffff;
}
.layout-box2 {
	padding: 15px 20px;
	border: solid 1px #e5ebf5;
	background-color: #ffffff;
}
.layout-box3 {
	padding: 15px 0px;
	border: solid 1px #e5ebf5;
	background-color: #ffffff;
}
.box-padding {
	padding-left: 35px;
	padding-right: 35px;
}
.cloum-width1 {
	width: auto;
}
}
.layout-box1 {
	padding: 15px 0px 0px 0px;
	border: solid 1px #e5ebf5;
	background-color: #ffffff;
}
.roboto {
	font-family: 'Roboto'
}
.cloum-width {
	width: auto;
}
 @media (min-width:240px) {
.padding15 {
	padding: 0px 5px;
!important
}
}
 @media (min-width:992px) {
.padding15 {
	padding: 0px 15px;
}
}
.smart-color {
	color: #3a5a9d;
}
.smart-blue {
	color: #0095c7;
}
.smart-red {
	color: #f05440;
}
.smart-purple {
	color: #796bd1;
}
.smart-white {
	color: #ffffff;
}
.smart-grey {
	color: #dbdbdb;
}
.text-yellow {
	color: #e2c500;
}
.text-purple {
	color: #e53be3;
}
.text-dark-purple {
	color: #703566;
}
.smart-bg {
	background-color: #3a5a9d;
}
.red-bg {
	background-color: #f05440;
}
.yellow-bg {
	background-color: #e2c500;
}
.purple-bg {
	background-color: #e53be3;
}
.blue-bg {
	background-color: #0095c7;
}
.dash-header {
	padding: 1% 0%;
	border-bottom: solid 1px #e5ebf5;
	text-transform: capitalize;
}
@media (min-width:240px) {
a.dash-btn {
	border: solid 1px #d3d3d3;
	color: #4a4949;
	padding: 10px 15px;
	text-decoration: none;
	display: inline-block;
	min-width: 150px;
}
}
@media (min-width:481px) and (max-width:767px) {
a.dash-btn {
	border: solid 1px #d3d3d3;
	color: #4a4949;
	padding: 10px 12px;
	text-decoration: none;
	display: inline-block;
	min-width: 170px;
}
}
@media (min-width:768px) and (max-width:979px) {
a.dash-btn {
	border: solid 1px #d3d3d3;
	color: #4a4949;
	padding: 10px 10px;
	text-decoration: none;
	display: inline-block;
	min-width: 130px;
}
}
@media (min-width:992px) {
a.dash-btn {
	border: solid 1px #d3d3d3;
	color: #4a4949;
	padding: 10px 15px;
	text-decoration: none;
	display: inline-block;
	min-width: 145px;
}
}
a.dash-btn:hover {
	border: solid 1px #3a5a9d;
	background-color: #3a5a9d;
	color: #ffffff;
	text-decoration: none;
}
.icon-round {
	border-radius: 50%;
	padding: 15px;
	border: solid 1px #d9d9d9;
	display: inline-block
}
hr {
	margin: 13px 0px;
	border: 0;
	border-top: 1px solid #e5ebf5;
}
.double-line {
	margin: 9px 0px;
	border: 0;
	border-top: 2px solid #e5ebf5;
}

/*radio button */
.radio label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 13px;
	height: 13px;
	left: 0;
	margin-left: -16px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	margin-top: 3px;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 7px;
	height: 7px;
	left: 3px;
	top: 3px;
	margin-top: 3px;
	margin-left: -16px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
}
.radio input[type="radio"] {
	opacity: 0;
	z-index: 1;
}
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	outline: none;
}
.radio.radio-inline {
	margin-top: 0;
	padding-left: 8px;
}
/*radio button end*/

/*checkbox button */
.checkbox label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #3a5a9d;
}
.checkbox input[type="checkbox"] {
	opacity: 0;
	z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
	font-family: "FontAwesome";
	content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after {
	display: block;
	content: "";
	width: 10px;
	height: 3px;
	background-color: #555555;
	border-radius: 2px;
	margin-left: -16.5px;
	margin-top: 7px;
}
.checkbox + .checkbox {
	margin-top: 11px !important;
}
/*checkbox button */

.line-bg {
	background: url(../images/line-bg.jpg);
	padding: 2% 0%;
	border: solid 2px #e5ebf5;
}
.line-bg a {
	padding: 3% 16%;
	background: transparent;
	color: #ffffff;
	border: solid 1px #ffffff;
	display: inline-block
}
a.visit-btn {
	border: solid 2px #f0f0f0;
	background-color: #3a5a9d;
	color: #ffffff;
	padding: 2% 13%;
	text-decoration: none;
	display: inline-block;
}
.right-border1 {
	border-right: solid 1px #e5ebf5;
}
/* campaign css start*/
.campaign-links ul {
	margin: 0;
	padding: 0;
}
.campaign-links li {
	float: left;
	list-style: none;
	margin-right: 5px;
}
.campaign-links li a {
	padding: 7px 8px;
	border: solid 1px #d7d7d7;
	background-color: #ffffff;
	color: #606060;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.campaign-links li a.disable {
	padding: 7px 8px;
	border: solid 1px #d7d7d7;
	background-color: #f5f5f5;
	color: #d7d7d7;
	display: inline-block;
	text-decoration: none;
	cursor: default;
}
@media(max-width:599px) {
.campaign-search input[type="text"] {
	padding: 0px 10px 0px 10px;
	height: 36px;
	width: 90px;
}
}
.campaign-search input[type="text"] {
	padding: 0px 10px 0px 10px;
	height: 36px;
	font-size: 14px;
	background: #ffffff;
	color: #4a4949;
	border: 1px solid #d7d7d7;
	border-right: hidden;
	outline: none;
	float: left;
}
.campaign-search button[type="button"] {
	padding: 0px 15px 0px 10px;
	height: 36px;
	border: 1px solid #d7d7d7;
	border-left: hidden;
	color: #c3c3c3;
	background: #fff;
	float: left;
}
.sorting select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	height: 32px;
	width: 100px;
	padding: 0;
	padding-left: 5px;
	background: #ffffff url(../images/select-arrow.png) no-repeat 90% center;
	border: solid 1px #d7d7d7;
	color: #4a4949;
	text-align: left;
}
.sorting select option {
	padding: 6px 10px;
	color: #4a4949;
}
a.smart-btn {
	background: #3a5a9d;
	padding: 9px 28px;
	color: #ffffff;
	border: solid 1px #3a5a9d;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-transform: capitalize;
}
.smart-btn {
	background: #3a5a9d;
	padding: 9px 28px;
	color: #ffffff;
	border: solid 1px #3a5a9d;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-transform: capitalize;
}
a.blank-btn {
	background: #ffffff;
	padding: 9px 28px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #d7d7d7;
	cursor: pointer;
	text-transform: capitalize;
}
a.blank-btn:hover {
	background: #3a5a9d;
	padding: 9px 28px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #3a5a9d;
	cursor: pointer;
	text-transform: capitalize;
}
.blank-btn {
	background: #ffffff;
	padding: 9px 28px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #d7d7d7;
	cursor: pointer;
	text-transform: capitalize;
}
a.yes-btn {
	background: #3a5a9d;
	padding: 9px 15%;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	text-transform: capitalize;
}
a.smart-blank-btn {
	background: #ffffff;
	padding: 8px 15%;
	border: solid 1px #d7d7d7;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	text-transform: capitalize;
}
.campaign-field input[type="text"], input[type="email"] {
	border: solid 1px #d7d7d7;
	border-radius: 0px;
	box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.2) !important;
	color: #606060;
}
.campaign-field textarea {
	border: solid 1px #d7d7d7;
	border-radius: 0px;
	color: #606060;
	box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.2) !important;
	min-width: 100%;
	max-width: 100%;
	min-height: 80px;
	max-height: 250px;
	padding: 10px;
}
/* campaignmodal popup*/
@media (min-width:240px) {
.campaign-modal {
	max-width: 320px;
	z-index: 1050;
	outline: 0;
	border-radius: 0px !important;
}
}
@media (min-width:768px) {
.campaign-modal {
	max-width: 650px;
	z-index: 1050;
	outline: 0;
	border-radius: 0px !important;
}
}
@media (min-width:992px) {
.campaign-modal {
	width: 650px;
	z-index: 1050;
	outline: 0;
	border-radius: 0px !important;
}
}
.modal-content {
	border-radius: 0px;
}
/* delete popup*/
.delete-modal {
	max-width: 400px;
	z-index: 1050;
	outline: 0;
	padding: 0 !important;
	border-radius: 0px !important;
}
.success-popup-icon {
	padding: 5%;
	border-radius: 50%;
	background-color: #3a5a9d;
	color: #ffffff;
	font-size: 39px;
	position: relative;
	top: -42px;
}
/* table css*/
.table-fixed-header table thead {
	display: inline-table;
	width: 100%;
}
.table-fixed-header table tbody {
	max-height: 400px;
	overflow-y: auto;
	display: block;
}
.table-fixed-header table tbody tr {
	width: 100%;
	display: inline-table
}
.data-scroll {
	max-height: 360px;
	overflow: auto;
}
.table-bordered {
	border: solid 1px #e5ebf5;
}
.table-data table {
	background-color: #ffffff;
}
.table-data table th {
	border-bottom: solid 2px #e5ebf5;
	padding: 9px 15px;
	min-width: 160px;
	width: auto;
	font-weight: 600;
}
.table-data table td {
	border-bottom: solid 1px #e5ebf5;
	padding: 9px 15px;
}
.table-data table td.icon-width {
	min-width: 270px;
}
@media (min-width:240px) {
.table-data table th:first-child {
	min-width: 44px;
	width: auto;
}
}
@media (min-width:1200px) {
.table-data table th:first-child {
	min-width: 78px;
	width: 78px;
}
}
.table-icon ul {
	margin: 0;
	padding: 0;
}
.table-icon ul li {
	margin-right: 6px;
	display: inline;
	list-style: none;
}
.table-icon ul li a {
	min-width: 30px;
	cursor: pointer;
	padding: 5px;
	text-align: center;
	display: inline-block;
	border: solid 1px #d7d7d7;
	color: #606060;
	text-decoration: none;
}
.table-icon ul li a.top-space {
	position: relative;
	top: 1px;
}
.table-icon ul li a.disable {
	min-width: 30px;
	cursor: default;
	padding: 5px;
	text-align: center;
	display: inline-block;
	border: solid 1px #d7d7d7;
	color: #d7d7d7;
	text-decoration: none;
}
.table-multi-data table {
	background-color: #ffffff;
}
.table-multi-data table th {
	border-bottom: solid 2px #e5ebf5;
	padding: 9px 15px;
	min-width: 160px;
	font-size: 14px;
	font-weight: 600;
}
.table-multi-data table th:first-child {
	padding-left: 35px;
}
.table-multi-data table td {
	border-bottom: solid 1px #e5ebf5;
	padding: 9px 15px;
}
.table-multi-data table td:first-child {
	padding-left: 35px;
}
.table-multi-data select {
	border: solid 1px #e5ebf5;
	padding: 4px 5px;
}
/*.table-multi-data table th:after{font-family: FontAwesome;
	content: "\f107";
	padding-left:10px;
	}*/
	
/* add subscriber section css*/
.smart-tabs ul {
	margin: -10px 0 0 0;
	padding: 0;
}
@media (min-width:240px) {
.smart-tabs ul li {
	float: left;
	margin-right: 0px;
	list-style: none;
}
.smart-tabs ul li a {
	padding: 7px 14px;
	text-decoration: none;
	color: #4a4949;
	border-right: solid 1px #e5ebf5;
	font-size: 25px;
	margin-top: 10px;
	border-bottom: solid 2px transparent;
	display: inline-block
}
}
@media (min-width:768px) {
.smart-tabs ul li {
	float: left;
	margin-right: 10px;
	list-style: none;
}
.smart-tabs ul li a {
	padding: 7px 15px;
	text-decoration: none;
	color: #4a4949;
	border-right: hidden;
	border-bottom: solid 2px transparent;
	display: inline-block;
	font-size: inherit;
}
}
.smart-tabs ul li a.active {
	border-bottom: solid 2px #3a5a9d;
	font-weight: 600
}
.smart-tabs ul li a:hover {
	border-bottom: solid 2px #3a5a9d;
}
a.upload-area {
	color: #606060;
}
a.upload-area:hover {
	color: #3a5a9d;
	text-decoration: none;
}
a.upload-area p {
	color: #606060;
}
.mobile-btn {
	background: #3a5a9d;
	padding: 9px 28px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
}

/*step tick Wizard*/
@media (max-width:767px){.bs-wizard>.bs-wizard-step{padding:0;position:relative;width:auto;min-width:45px;text-transform:capitalize}.bs-wizard{position:absolute;right:0;margin-top:-35px}.bs-wizard>.bs-wizard-step>.bs-wizard-dot{position:absolute;width:25px;height:25px;display:block;background:#fff;border:solid 1px #d7d7d7;top:22px;left:50%;margin-top:-15px;margin-left:-15px;border-radius:50%}.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after{font-family:'icomoon'!important;content:"\e923";position:absolute;width:25px;height:25px;display:block;background:#fff;border:solid 1px #3a5a9d;top:22px;left:50%;margin-top:-23px;margin-left:-12px;border-radius:50%;color:#3a5a9d;padding:1px 4px}}@media (min-width:768px){.bs-wizard>.bs-wizard-step{padding:0;position:relative;width:auto;min-width:64px;text-transform:capitalize}.bs-wizard{margin-top:-36px;position:absolute;right:36px;z-index:1}.bs-wizard>.bs-wizard-step .bs-wizard-stepnum{color:#595959;margin-bottom:5px}.bs-wizard>.bs-wizard-step>.bs-wizard-dot{position:absolute;width:30px;height:30px;display:block;background:#fff;border:solid 1px #d7d7d7;top:22px;left:50%;margin-top:-15px;margin-left:-15px;border-radius:50%}.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after{font-family:'icomoon'!important;content:"\e923";position:absolute;width:30px;height:30px;display:block;background:#fff;border:solid 1px #3a5a9d;top:22px;left:50%;margin-top:-23px;margin-left:-15px;border-radius:50%;color:#3a5a9d;padding:3px 7px}}.bs-wizard>.bs-wizard-step>.progress{position:relative;border-radius:0;height:1px;box-shadow:none;margin:20px 0;background-color:#d7d7d7}.bs-wizard>.bs-wizard-step>.progress>.progress-bar{width:0;box-shadow:none;background:#3a5a9d}.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar{width:100%}.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar{width:50%}.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar{width:0%}.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar{width:100%}.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot{background-color:#fff}.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after{opacity:0}.bs-wizard>.bs-wizard-step:first-child>.progress{left:50%;width:50%}.bs-wizard>.bs-wizard-step:last-child>.progress{width:50%}.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot{pointer-events:none}
/*END Form Wizard*/

.custom-file-upload input[type="file"] {
	display: none;
	outline: none;
}
.custom-file-upload {
	border: 1px solid #cfcfcf;
	display: inline-block;
	padding: 6px 28px;
	cursor: pointer;
	font-weight: 600;
	color: #4a4949;
	background-color: #ebebeb;
	outline: none;
}
.progress-line {
	height: 5px;
	margin-top: 15px;
	overflow: hidden;
	background-color: #e5ebf5;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-line-active {
	background-color: #3a5a9d;
}
.progress-cross {
	margin-top: 15px;
	text-decoration: none;
}
@media(min-width:1200px) {
.progress-cross {
	margin-top: 22px;
	text-decoration: none;
}
}
.smart-field input[type="text"], input[type="email"], input[type="password"] {
	border: solid 1px #d7d7d7;
	width: 100%;
	padding: 0px 10px;
	height: 35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.smart-field select {
	border: solid 1px #d7d7d7;
	width: 100%;
	padding: 0px 10px;
	height: 35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 30px
}
.smart-field textarea {
	border: solid 1px #d7d7d7;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding: 8px 10px;
	max-height: 180px;
}
a.cross-icon {
	border: solid 1px #d7d7d7;
	padding: 3px 6px;
	border-radius: 50%;
	color: #d7d7d7;
}
a.cross-icon1 {
	border: solid 1px #3a5a9d;
	padding: 4px 6px;
	border-radius: 50%;
	color: #d7d7d7;
	background: #3a5a9d;
	display: inline-block
}
 @media (min-width:240px) {
.col-xs-15 {
	width: 100%;
	position: relative;
	min-height: 1px;
	padding: 0px 15px;
	float: left;
	margin-bottom: 15px;
}
.mobile-img {
	width: 50%;
}
.donough-graph {
	display: block;
	position: relative;
	margin-left: -20px;
	height: 300px;
	width: 300px;
}
a.activity-btn {
	background: #ffffff;
	padding: 8px 10px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #d7d7d7;
	cursor: pointer;
}
a.activity-btn:hover {
	background: #3a5a9d;
	padding: 8px 10px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #3a5a9d;
	cursor: pointer;
}
.activity-btn {
	background: #ffffff;
	padding: 8px 10px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #d7d7d7;
	cursor: pointer;
}
.activity-btn:hover {
	background: #3a5a9d;
	padding: 8px 10px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #3a5a9d;
	cursor: pointer;
}
a.activity-btn1 {
	background: #3a5a9d;
	padding: 8px 10px;
	color: #ffffff;
	border: solid 1px #3a5a9d;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
}
 @media (min-width:768px) {
.col-xs-15 {
	width: 25%;
	position: relative;
	min-height: 1px;
	padding: 0px 0px 0px 10px;
}
.col-xs-16 {
	width: 50% !important;
}
.donough-graph {
	display: block;
	position: relative;
	margin: 0 auto;
	height: 300px;
	width: 300px;
}
.mobile-img {
	width: auto;
}
a.activity-btn {
	background: #ffffff;
	padding: 9px 28px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #d7d7d7;
	cursor: pointer;
}
a.activity-btn:hover {
	background: #3a5a9d;
	padding: 9px 28px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #3a5a9d;
	cursor: pointer;
}
.activity-btn {
	background: #ffffff;
	padding: 9px 28px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #d7d7d7;
	cursor: pointer;
}
.activity-btn:hover {
	background: #3a5a9d;
	padding: 9px 28px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #3a5a9d;
	cursor: pointer;
}
a.activity-btn1 {
	background: #3a5a9d;
	padding: 8px 28px;
	color: #ffffff;
	border: solid 1px #3a5a9d;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
}
@media (min-width:992px) {
.col-xs-15 {
	width: 20%;
	position: relative;
	min-height: 1px;
	padding: 0px 0px 0px 10px;
}
.col-xs-16 {
	width: 35% !important;
}
}
.mailer-search input[type="text"] {
	padding: 0px 10px 0px 10px;
	height: 35px;
	font-size: 14px;
	background: #ffffff;
	color: #4a4949;
	border: 1px solid #d7d7d7;
	border-right: hidden;
	outline: none;
	float: left;
	width: 85%;
}
.mailer-search button[type="button"], .mailer-search button[type="submit"] {
	padding: 0px 15px 0px 10px;
	height: 35px;
	border: 1px solid #d7d7d7;
	border-left: hidden;
	color: #c3c3c3;
	background: #fff;
	float: left;
	width: 15%;
}
.search--btn-color {
	padding: 0px !important;
	background: #3a5a9d !important;
	border: solid 1px #3a5a9d !important;
	color: #ffffff !important;
}
/*-- select campaign list css*/
.all-campaign dd, .all-campaign dt {
	margin: 0px;
	padding: 0px;
}
.all-campaign ul {
	margin: -1px 0 0 0;
	background-color: #FFF;
	z-index: 1;
}
.all-campaign dd {
	position: relative;
}
.all-campaign a, .all-campaign a:visited {
	color: #4a4949;
	text-decoration: none;
	outline: none;
}
.all-campaign dt a {
	display: block;
	padding: 4px 10px 0px 10px;
	font-size: 13px;
	overflow: hidden;
	border: 0;
	color: #4a4949;
	width: 100%;
	border: solid 1px #d7d7d7;
	font-weight: normal;
	height: 38px;
	line-height: 30px;
}
.all-campaign dt a span:before {
	cursor: pointer;
	display: inline-block;
	padding: 0 3px 2px 0;
	content: "\f107";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	float: right;
	font-size: 23px;
	color: #686868;
}
.all-campaign dt a span, .multiSel span {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	color: #4a4949;
}
.all-campaign dd ul {
	border: 0;
	color: #4a4949;
	display: none;
	left: 0px;
	padding: 10px;
	position: absolute;
	top: 1px;
	width: 100%;
	list-style: none;
	height: 100px;
	overflow: auto;
	border: solid 1px #d7d7d7;
	background-color: #FFF;
}
.all-campaign span.value {
	display: none;
}
.all-campaign dd ul li a {
	padding: 8px;
	display: block;
	background-color: #FFF;
}
.all-campaign dd ul li a:hover {
	background-color: #fff;
}
a.suppression-grey-btn {
	background: #e6e6e6;
	padding: 6px 18px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #cfcfcf;
	cursor: pointer;
}
a.suppression-grey-btn:hover {
	background: #3a5a9d;
	padding: 6px 18px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #3a5a9d;
	cursor: pointer;
}
.suppression-grey-btn {
	background: #e6e6e6;
	padding: 6px 18px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #cfcfcf;
	cursor: pointer;
}
.suppression-grey-btn:hover {
	background: #3a5a9d;
	padding: 6px 18px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #3a5a9d;
	cursor: pointer;
}
a.back-link {
	color: #3a5a9d;
	text-decoration: none;
}
a.back-link:hover {
	color: #3a5a9d;
	text-decoration: none;
}
.newsletter-imgwidth {
	max-width: 75px;
	padding: 4px;
	background-color: #f5f5f5;
	border: solid 1px #d7d7d7;
}
.line-bottom {
	border-bottom: solid 2px #e5ebf5;
}
.template-search input[type="text"] {
	padding: 0px 10px 0px 10px;
	height: 40px;
	font-size: 14px;
	background: #ffffff;
	color: #4a4949;
	border: 1px solid #d7d7d7;
	border-right: hidden;
	outline: none;
	float: left;
	width: 80%;
}
.template-search button[type="button"] {
	padding: 0px 15px 0px 10px;
	height: 40px;
	border: 1px solid #d7d7d7;
	border-left: hidden;
	color: #c3c3c3;
	background: #fff;
	float: left;
	width: 20%;
}
.template-img {
	width: 100%;
	padding: 5px;
	background-color: #f5f5f5;
	border: solid 1px #d7d7d7;
}
a.template-btn {
	border: solid 1px #d3d3d3;
	color: #4a4949;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}
a.template-btn:hover {
	border: solid 1px #3a5a9d;
	background-color: #3a5a9d;
	color: #ffffff;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: 100%;
}
.plus-icon {
	background-color: #3a5a9d;
	padding: 5px 7px;
	border-radius: 50%;
	color: #ffffff;
	margin-bottom: -0.1px;
}
.red-icon {
	background-color: #fe6262;
	padding: 5px 7px;
	border-radius: 50%;
	color: #ffffff;
	margin-bottom: -0.1px;
}
.subscriber-list ul {
	margin: 0;
	padding: 0;
	border: solid 1px #e5ebf5;
}
.subscriber-list li {
	padding: 10px 15px;
	border-bottom: solid 1px #e5ebf5;
	list-style: none;
	font-weight: normal;
}
.subscriber-list li.unactive {
	padding: 10px 15px;
	border-bottom: solid 1px #e5ebf5;
	color: #d7d7d7;
	list-style: none;
	font-weight: normal;
}
.campaign-heading {
	padding: 10px 15px;
	border: solid 1px #e5ebf5;
}
.curve-line-bg {
	background: url(../images/curve-line.jpg) repeat-x;
	margin-top: 50px;
	height: 100px;
	background-position: top center;
}
.layout-border {
	padding: 15px 15px;
	border: solid 1px #d7d7d7;
	background-color: #ffffff;
}
.layout-border1 {
	border: solid 1px #d7d7d7;
	background-color: #ffffff;
}
.sent-mail-btn {
	background-color: #037aa6;
	color: #ffffff;
	padding: 7px 15px;
	width: 100%;
}
.delivered-btn {
	background-color: #3a5a9d;
	color: #ffffff;
	padding: 7px 15px;
	width: 98%;
}
.form-bgborder {
	border: solid 1px #d7d7d7;
	background-color: #f0f0f0;
	padding: 20px;
}
.multi-color-btn ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.multi-color-btn ul li a {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	text-decoration: none;
	list-style: none;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	margin-bottom: 10px;
}
.media-scroll {
	max-height: 302px;
	overflow: auto;
	overflow-x: hidden;
	padding-right: 20px;
}
.media-img-area {
	width: 100%;
	padding: 5px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	border: solid 1px #ffffff;
}
.media-img-area.select {
	width: 100%;
	border: solid 1px #3a5a9d;
	padding: 5px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
}
.media-img {
	max-height: 105px;
	min-height: 105px;
}
.form-preview {
	width: auto !important;
	max-width: 650px;
	z-index: 1050;
	outline: 0;
	border-radius: 0px !important;
}
.close-preview {
	cursor: pointer;
	width: 48px;
	height: 44px;
	line-height: 44px;
	font-size: 45px;
	color: #ffffff;
	text-shadow: none;
	position: fixed !important;
	right: 0px !important;
	top: 0px !important;
	z-index: 1068;
	background-color: #000000;
	border: none;
}
.world-map-width {
	width: 100% !important;
	height: 500px !important;
}
.editor-img {
	padding: 6px 10px;
	border: solid 1px #d6d6d6;
}
.center-div {
	margin: 0 auto;
	float: inherit !important;
}
.center-div1 {
	margin: 0 auto;
	float: none !important;
}
.editor-btns {
	padding: 4px 28px;
	color: #ffffff;
	border: solid 1px #4262a1;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-transform: capitalize;
	border-radius: 2px;
	min-width: 200px;
	background: rgba(66,127,197,1);
	background: -moz-linear-gradient(top, rgba(66,127,197,1) 0%, rgba(66,100,162,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,127,197,1)), color-stop(100%, rgba(66,100,162,1)));
	background: -webkit-linear-gradient(top, rgba(66,127,197,1) 0%, rgba(66,100,162,1) 100%);
	background: -o-linear-gradient(top, rgba(66,127,197,1) 0%, rgba(66,100,162,1) 100%);
	background: -ms-linear-gradient(top, rgba(66,127,197,1) 0%, rgba(66,100,162,1) 100%);
	background: linear-gradient(to bottom, rgba(66,127,197,1) 0%, rgba(66,100,162,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#427fc5', endColorstr='#4264a2', GradientType=0 );
}

/*  Placeholder color and IE Bydefault text field remove icon css
==========================*/
::-webkit-input-placeholder { /* Chrome */
 color: #8e8d8d;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #b7b6b6 !important;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #8e8d8d;
}
:-moz-placeholder { /* Firefox 4 - 18 */
 color: #8e8d8d;
}
input[type=text]::-ms-clear {
 display: none;
}

/*  tooltip
==========================*/
@media(min-width:240px) {
.red-tooltip + .tooltip > .tooltip-inner {
	background-color: #3a5a9d;
	font-family: raleway;
	padding: 7px 10px;
	border-radius: 0;
	min-width: 150px !important;
	text-transform: capitalize;
	text-align: left;
}
.red-tooltip + .tooltip > .tooltip-arrow {
	border-top-color: #3a5a9d;
}
}
@media(min-width:992px) {
.red-tooltip + .tooltip > .tooltip-inner {
	background-color: #3a5a9d;
	font-family: raleway;
	padding: 7px 10px;
	border-radius: 0;
	min-width: 150px !important;
	text-transform: capitalize;
	text-align: left;
}
.red-tooltip + .tooltip > .tooltip-arrow {
	border-right-color: #3a5a9d;
	border-top-color: #ffffff;
}
}
.tooltip {
	z-index: 0 !important;
}
/*  media form login
==========================*/
.form-login {
	max-width: 400px;
	margin: 0 auto;
	word-wrap: break-word;
}
@media(min-width:240px) {
.form-box {
	background: #fff;
	border-radius: 0 !important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2) !important;
	box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2) !important;
	padding: 14px
}
}
@media(min-width:768px) {
.form-box {
	background: #fff;
	border-radius: 0 !important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2) !important;
	box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.2) !important;
	padding: 30px 35px;
}
}
.form-box input[type="email"], input[type="text"], input[type="password"] {
	border: solid 1px #dfdfdf;
	border-radius: 0px;
	box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.2) !important;
	height: 40px;
}
.form-box input[type="submit"] {
	background-color: #3a5a9d;
	padding: 6px 8px;
	color: #ffffff;
	text-transform: capitalize;
	border-radius: 0px;
	margin-top: 25px;
	font-size: 17px;
	border-radius: 20px;
}
.form-box button[type="submit"] {
	background-color: #3a5a9d;
	padding: 6px 8px;
	color: #ffffff;
	text-transform: capitalize;
	border-radius: 0px;
	margin-top: 25px;
	font-size: 17px;
	border-radius: 20px;
}
/*  editor design 
==========================*/
.ediotr-design-bg {
	background-color: #d4dede;
	padding: 8px 8px 5px 8px;
}
.editor-design ul {
	margin: 0;
	padding: 0;
}
.editor-design ul li {
	display: inline;
	list-style: none;
}
.editor-design ul li button {
	background-color: #3a5a9d !important;
	padding: 5px 7px;
	border: solid 1px #3a5a9d;
	color: #ffffff !important;
	min-width: 30px;
	display: inline-block;
	text-align: center;
	margin-bottom: 5px;
}
.editor-design ul li button:hover {
	background-color: #dfdfdf;
	padding: 5px 7px;
	border: solid 1px #3a5a9d;
	color: #4a4949;
	text-decoration: none;
	cursor: pointer;
}
.editor-text {
	font-weight: inherit;
}
@media (max-width:767px) {
.heading-list {
	position: absolute !important;
	height: 200px;
	top: 33px;
	left: 0 !important;
	z-index: 1000;
}
}
@media (min-width:768px) {
.heading-list {
	position: absolute !important;
	height: 200px;
	top: 100%;
	right: 0 !important;
	z-index: 1000;
}
}
.heading-list > ul {
	margin: 0;
	padding: 0;
}
.heading-list > ul > li {
	float: none !important;
}
.heading-list > li > a {
	padding: 5px 12px !important;
}
.mylibrary {
	display: none;
	position: absolute;
	background: #494949;
	width: 80%;
	padding: 1%!important;
	z-index: 2;
	height: 190px;
}
.mylibrary input[type="file"] {
	display: none!important;
}
.mylibrary img {
	width: 80px;
	height: 60px;
	cursor: pointer;
	margin: 4px;
	border: 2px solid #fff;
}
.uploadedpic {
	width: 84px;
	height: 64px;
	display: inline-block;
	position: relative;
}
.deleteimg {
	position: absolute;
	width: 18px;
	height: 18px;
	padding-top: 2px;
	top: 4px;
	right: 0;
	display: none;
	background: #3a5a9d;
	color: #fff;
	text-align: center;
}
.deleteimg a {
	color: #fff;
}
.mylibrary .uploadedpic:hover .deleteimg {
	display: block;
}
#bgcolor-button {
	position: relative;
}
.mylibrary button {
	clear: both;
	display: block!important;
}

/*  progress loader
==========================*/
@media (min-width:240px) {
#donut1 {
	position: absolute;
	font-family: 'roboto'
}
#donut1 path.color0 {
	fill: #037aa6;
}
#donut2 path.color0 {
	fill: #3a5a9d;
}
#donut3 path.color0 {
	fill: #e2c500;
}
#donut4 path.color0 {
	fill: #f37b6c;
}
#donut5 path.color0 {
	fill: #703566;
}
#donut6 path.color0 {
	fill: #e53be3;
}
path.color1 {
	fill: #d7d7d7;
}
}
@media (min-width:992px) {
#donut1 {
	position: absolute;
	margin-left: -23px;
}
#donut2 {
	position: absolute;
	margin-left: -23px;
	font-family: 'roboto'
}
#donut3 {
	position: absolute;
	margin-left: -23px;
	font-family: 'roboto'
}
#donut4 {
	position: absolute;
	margin-left: -23px;
	font-family: 'roboto'
}
#donut5 {
	position: absolute;
	margin-left: -23px;
	font-family: 'roboto'
}
#donut6 {
	position: absolute;
	margin-left: -23px;
	font-family: 'roboto'
}
}
@media (min-width:1200px) {
#donut1 {
	position: absolute;
	margin-left: -8px;
}
#donut2 {
	position: absolute;
	margin-left: -8px;
}
#donut3 {
	position: absolute;
	margin-left: -8px;
}
#donut4 {
	position: absolute;
	margin-left: -8px;
}
#donut5 {
	position: absolute;
	margin-left: -8px;
}
#donut6 {
	position: absolute;
	margin-left: -8px;
}
}
#chart svg {
	height: 350px;
}
.nv-label text {
	font-family: raleway;
	color: #606060;
}
#chart1 svg {
	height: 350px;
}
.nv-label text {
	font-family: raleway;
	color: #606060;
}
/* ============================================================
 nav tabs
============================================================ */
.multi-tabs-nav ul {
	border-bottom: none !important;
}
.multi-tabs-nav ul li a {
	background-color: transparent !important;
	border: none !important;
	color: #4a4949;
	padding: 7px 16px !important;
}
.multi-tabs-nav ul li a:hover {
	background-color: transparent !important;
	border-bottom: solid 3px #3a5a9d !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	cursor: default;
	background-color: transparent !important;
	border: none !important;
	border-bottom: solid 3px #3a5a9d !important;
	font-weight: 600 !important;
}
/* Switch Left Right
==========================*/
.switch{position:relative;display:block;vertical-align:top;width:80px;height:30px;padding:3px;margin:0;margin:0 auto;border-radius:18px;cursor:pointer}.switch-input{position:absolute;top:0;left:0;opacity:0}.switch-label{position:relative;display:block;height:inherit;font-size:10px;text-transform:uppercase;background:#eceeef;border-radius:inherit;box-shadow:inset 0 1px 2px rgba(0,0,0,.12),inset 0 0 2px rgba(0,0,0,.15)}.switch-label:before,.switch-label:after{position:absolute;top:50%;margin-top:-.5em;line-height:1;-webkit-transition:inherit;-moz-transition:inherit;-o-transition:inherit;transition:inherit}.switch-label:before{content:attr(data-off);right:11px;color:#aaa;text-shadow:0 1px rgba(255,255,255,.5)}.switch-label:after{content:attr(data-on);left:11px;color:#FFF;text-shadow:0 1px rgba(0,0,0,.2);opacity:0}.switch-input:checked~.switch-label{background:#3a5a9d;box-shadow:inset 0 1px 2px rgba(0,0,0,.15),inset 0 0 3px rgba(0,0,0,.2)}.switch-input:checked~.switch-label:before{opacity:0}.switch-input:checked~.switch-label:after{opacity:1}.switch-handle{position:absolute;top:4px;left:4px;width:28px;height:28px;background:linear-gradient(to bottom,#FFFFFF 40%,#e5ebf5);background-image:-webkit-linear-gradient(top,#FFFFFF 40%,#e5ebf5);border-radius:100%;box-shadow:1px 1px 5px rgba(0,0,0,.2)}.switch-handle:before{content:"";position:absolute;top:50%;left:50%;margin:-6px 0 0 -6px;width:12px;height:12px;background:linear-gradient(to bottom,#eeeeee,#FFFFFF);background-image:-webkit-linear-gradient(top,#eeeeee,#FFFFFF);border-radius:6px;box-shadow:inset 0 1px rgba(0,0,0,.02)}.switch-input:checked~.switch-handle{left:54px;box-shadow:-1px 1px 5px rgba(0,0,0,.2)}.switch-label,.switch-handle{transition:All 0.3s ease;-webkit-transition:All 0.3s ease;-moz-transition:All 0.3s ease;-o-transition:All 0.3s ease}
/* ============================================================
  image hover 
============================================================ */
#element1:hover + #element2 a {
	background: #3a5a9d;
	color: #ffffff;
	border: solid 1px #3a5a9d
}
.tem-hover a i {
	color: #fff;
	position: relative;
	margin-top: 55%;
	cursor: pointer
}
@media (min-width:481px) and (max-width:767px) {
.tem-hover a i {
	color: #fff;
	position: relative;
	margin-top: 30%;
	cursor: pointer
}
}
.delete-right {
	position: absolute !important;
	right: 10px !important;
	bottom: 10px
}
.effects .img {
	position: relative;
	float: left;
	width: 100%;
	overflow: hidden
}
.effects .img:nth-child(n) {
	margin-right: 5px
}
.effects .img img {
	display: block;
	max-width: 100%;
	height: auto;
}
.overlay {
	display: block;
	position: absolute;
	z-index: 20;
	background: rgba(0, 0, 0, 0.7);
	overflow: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}
.expand {
	position: absolute;
	z-index: 100;
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	line-height: 100%
}
#effect-2 .overlay {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0
}
#effect-2 .overlay a.expand {
	left: 0;
	right: 0;
	top: 50%;
	margin: -30px auto 0 auto
}
#effect-2 .img.hover .overlay {
	height: 100%
}
@media (min-width:240px) {
.form-preview-width {
	width: 50%;
	float: left;
	padding: 0px 10px;
}
}
@media (min-width:768px) {
.form-preview-width {
	width: 25%;
	float: left;
	padding: 0px 10px;
}
}
@media (min-width:992px) {
.form-preview-width {
	width: 25%;
	float: left;
	padding: 0px 15px;
}
}
@media (min-width:1200px) {
.form-preview-width {
	width: 20%;
	float: left;
	padding: 0px 20px;
}
}
/* ============================================================
  image cross hover 
============================================================ */
.image-cross {
	float: left;
	position: relative;
}
a.delete {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px 10px;
	color: #ffffff;
	background: #3a5a9d;
	cursor: pointer;
}
.image-cross:hover a.delete {
	display: block;
}
/* ============================================================
  select file 
============================================================ */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}
.inputfile + label {
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.no-js .inputfile + label {
	display: none
}
/* ============================================================
  Safari drag and drop
============================================================ */
.safaridrop-box {
	width: 100%;
	text-align: center;
	border: dashed 1px #a7a7a7;
	min-height: 200px;
}
.file-layout {
	font-size: 14px;
	color: #000000;
	background-color: #f5f5f5;
	padding: 5px;
	float: left;
	width: 100%;
}
/* ============================================================
  drag and drop
============================================================ */
.drop_uploader.drop_zone {
	width: 100%;
	text-align: center;
	border: dashed 1px #a7a7a7;
	min-height: 200px;
}
.drop_uploader.drop_zone .text_wrapper {
	margin-top: 0px
}
.drop_uploader.drop_zone .text_wrapper i {
	font-size: 50px;
	font-style: normal;
	color: #9B9B9B;
	position: relative;
	top: 14px
}
.drop_uploader.drop_zone .text {
	font-size: 14px;
	color: #606060;
	float: left;
	width: 100%;
}
@media (min-width:240px) {
.drop_uploader.drop_zone a {
	font-size: 15px;
	color: #9B9B9B;
	background-color: #ebebeb;
	padding: 7px 20px;
	border: solid 1px #d7d7d7;
	color: #4a4949;
	display: inline-block;
	margin-top: 10px
}
}
@media (min-width:768px) {
.drop_uploader.drop_zone a {
	font-size: 15px;
	color: #9B9B9B;
	background-color: #ebebeb;
	padding: 6px 20px;
	border: solid 1px #d7d7d7;
	color: #4a4949
}
}
.drop_uploader.drop_zone ul.files {
	width: 100%;
	margin: 0;
	text-align: left;
	list-style: none;
	padding: 10px 10px
}
.drop_uploader.drop_zone ul.files li {
	font-size: 14px;
	color: #000000;
	background-color: #f5f5f5;
	border-top: 2px solid #f5f5f5;
	border-bottom: 2px solid #f5f5f5;
	margin-top: 10px;
	padding: 5px;
	display: inline-block;
	width: 100%
}
.drop_uploader.drop_zone ul.files.thumb {
	width: 100%;
	text-align: left;
	list-style: none;
	margin-bottom: 35px;
	overflow: auto
}
.drop_uploader.drop_zone ul.files.thumb li {
	width: 110px;
	display: inline-block;
	float: left;
	font-size: 14px;
	color: #000000;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 5px 15px;
	text-align: center
}
.drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
	width: 100px;
	height: 100px;
	background-size: cover;
	margin: 0 auto;
	border: 1px solid #d7d7d7;
	border-radius: 0
}
.drop_uploader.drop_zone ul.files.thumb li div.thumbnail i:before {
	font-size: 30px;
	position: relative;
	top: calc(50% - 24px);
	color: #c6c4c4;
	content: "\f016";
	font-family: FontAwesome;
}
.drop_uploader.drop_zone ul.files.thumb li span.title {
	width: 110px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	font-size: 13px;
	color: #4a4949
}
.drop_uploader.drop_zone ul.files li:nth-child(even) {
	background-color: transparent
}
.drop_uploader.drop_zone ul.files li i:before {
	font-size: 20px;
	position: relative;
	top: 2px;
	margin: 0px 10px;
	color: #c6c4c4;
	content: "\f016";
	font-family: FontAwesome;
}
.drop_uploader.drop_zone .errors p {
	color: #FF0000
}
.drop_uploader.drop_zone input[type=file] {
	display: none;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
}
.file-btn {
	background-color: #ebebeb;
	padding: 10px 20px;
	border: solid 1px #d7d7d7;
	color: #4a4949
}
.pe-7s-cloud-upload:before {
	font-family: 'icomoon' !important;
	content: "\e914";
	color: #dbdbdb;
	font-size: 65px
}
/* =========================================================================================================================
 new add plugins css and  Upadtion css start 
========================================================================================================================= */
/* Pnotify by Hunter Perrin :: 2.0.1 */
.ui-pnotify {
	top: 25px;
	right: 25px;
	position: absolute;
	height: auto;/* Ensures notices are above everything */
	z-index: 9999;
}
/* Hides position: fixed from IE6 */
html > body > .ui-pnotify {
	position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
	-webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
	background-position: 0 0;
	padding: .8em;
	height: 100%;
	margin: 0;
}
.ui-pnotify-sharp {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.ui-pnotify-title {
	display: block;
	margin-bottom: .4em;
	margin-top: 0;
}
.ui-pnotify-text {
	display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
	display: block;
	float: left;
	margin-right: .2em;
}
/* Alternate stack initial positioning. */

.ui-pnotify.stack-topleft, .ui-pnotify.stack-bottomleft {
	left: 25px;
	right: auto;
}
.ui-pnotify.stack-bottomright, .ui-pnotify.stack-bottomleft {
	bottom: 25px;
	top: auto;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
	float: right;
	margin-left: .2em;
}
/* theming */
.alert-success {
	color: #ffffff;
	background-color: rgba(38, 185, 154, 0.88);
	border-color: rgba(38, 185, 154, 0.88);
}
.alert-info {
	color: #E9EDEF;
	background-color: rgba(52, 152, 219, 0.88);
	border-color: rgba(52, 152, 219, 0.88);
}
.alert-warning {
	color: #E9EDEF;
	background-color: rgba(243, 156, 18, 0.88);
	border-color: rgba(243, 156, 18, 0.88);
}
.alert-danger, .alert-error {
	color: #E9EDEF;
	background-color: rgba(231, 76, 60, 0.88);
	border-color: rgba(231, 76, 60, 0.88);
}
.alert-dark, .btn-dark {
	color: #E9EDEF;
	background-color: rgba(52, 73, 94, 0.88);
	border-color: rgba(52, 73, 94, 0.88);
}
.btn-dark:hover {
	color: #F7F7F7;
}
/* /theming */
/* /Pnotify by Hunter Perrin :: 2.0.1 */

/* multi campign select */
.multi-cam-list {
	width: 94%;
	border: solid 1px #f4f4f4;
	margin-top: 0px;
	position: absolute;
	background-color: #FFF;
	max-height: 300px;
	overflow: auto;
	-webkit-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	-moz-box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2) !important;
	z-index: 11;
}
.multi-cam-list ul {
	margin: 0;
	padding: 0;
}
.multi-cam-list ul li {
	padding: 8px 15px;
	border-bottom: solid 1px #f4f4f4;
	list-style: none;
	font-size: 14px;
}
/* disable button */
.disableGreenbtn {
	background: #95d195 !important;
	color: #e8e7e7;
	border: solid 1px #8bca8b !important;
	;
	text-decoration: none;
	display: inline-block;
	cursor: default !important;
}
.disableGreybtn {
	border: solid 1px #e3e2e2 !important;
	background-color: #f2f0f0 !important;
	color: #bcb9b9 !important;
	text-decoration: none;
	display: inline-block;
	cursor: default !important;
}
.more-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.field-hidden {
	border: none !important;
	width: 100%;
}
/* ============================================================
  paging field
============================================================ */
.pagination-nxt-pre ul {
	margin: 0;
	padding: 0;
}
.pagination-nxt-pre ul li {
	float: left;
	list-style: none;
	height: 24px;
	line-height: 24px;
}
.pagination-nxt-pre li a {
	padding: 0px 10px;
	border: solid 1px #c9c9c9;
	background-color: #ffffff;
	text-decoration: none;
	display: inline-block;
	color: #303030
}
.pagination-nxt-pre li a:hover {
	background-color: #e5ebf5;
}
.pagination-nxt-pre li a.hidden-left {
	border-left: hidden;
}
.paging-field input[type="text"] {
	border: solid 1px #d7d7d7;
	width: 50px;
	padding: 0px 5px;
	height: 26px;
}
.paging-field select {
	border: solid 1px #d7d7d7;
	width: 90%;
	padding: 0px 0px;
	height: 26px;
	width: 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 21px
}
/* ============================================================
  lightbox
============================================================ */
body.hidden-scroll{overflow:hidden}.sl-overlay{position:fixed;left:0;right:0;top:0;bottom:0;background:#000;opacity:.7;display:none;z-index:1042}.sl-wrapper{z-index:1000}.sl-wrapper button{border:0 none;background:transparent;font-size:24px;padding:0;cursor:pointer}.sl-wrapper button:hover{opacity:.7}.sl-wrapper .sl-close{display:none;position:fixed;right:0;top:0;z-index:1068;color:#fff;background-color:#0c0d0c;width:48px;height:44px;line-height:44px;font-size:45px}.sl-wrapper .sl-navigation{width:100%;display:none}.sl-wrapper .sl-navigation button{position:fixed;top:50%;margin-top:-10px;height:30px;width:30px;line-height:30px;text-align:center;display:block;z-index:10685;font-size:65px;color:#fff}.sl-wrapper .sl-navigation button.sl-next{right:10%}.sl-wrapper .sl-navigation button.sl-prev{left:10%}.sl-wrapper .sl-image{position:fixed;-ms-touch-action:none;touch-action:none;z-index:10000; padding:10px; background:#fff;}.sl-wrapper .sl-image img{margin:0;padding:0;display:block}.sl-wrapper .sl-image iframe{border:0 none;background:#000}.sl-wrapper .sl-image .sl-caption{display:none;padding:10px;color:#fff;background:#3a5a9d;position:absolute;bottom:0;left:0;right:0}.sl-wrapper .sl-image .sl-caption.pos-top{bottom:auto;top:-40px}.sl-wrapper .sl-image .sl-caption.pos-outside{bottom:auto}.sl-wrapper .sl-image .sl-download{display:none;position:absolute;bottom:5px;right:5px;color:#fff;z-index:1005}.sl-spinner{display:none;border:5px solid #333;border-radius:40px;height:40px;left:50%;margin:-20px 0 0 -20px;opacity:0;position:fixed;top:50%;width:40px;z-index:1007;-webkit-animation:pulsate 1s ease-out infinite;-moz-animation:pulsate 1s ease-out infinite;-ms-animation:pulsate 1s ease-out infinite;-o-animation:pulsate 1s ease-out infinite;animation:pulsate 1s ease-out infinite}.sl-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@-webkit-keyframes "pulsate"{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@keyframes "pulsate"{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-moz-keyframes "pulsate"{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-o-keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}@-ms-keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}
/* ============================================================
  Info page css
============================================================ */
/*.info-bg{background: linear-gradient(to bottom, #3a5a9d 55%, #ffffff 55%, #ffffff 55%);background-image: -webkit-linear-gradient(top, #3a5a9d 45%, #ffffff 45%, #ffffff 45%); background-attachment:fixed; background-repeat: no-repeat;}*/
.info-bg {
	background: url(../images/info-bg.jpg) repeat-x #ffffff top center;
}
.info-bg img {
	margin-top: 75px;
}
.info-box-width {
	background-color: #FFF;
	margin: auto;
	float: inherit !important;
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	left: 0;
	right: 0;
	top: 192px;
	padding: 20px 15px 15px 15px;
}
.info-box-width:before {
	content: '';
	position: absolute;
	top: 53px;
	right: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 0px 0px 35px;
	border-color: #f4f4f4 transparent transparent
}
.info-box-width:after {
	content: '';
	position: absolute;
	top: 53px;
	left: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 35px 0 0;
	border-color: #f4f4f4 transparent transparent;
}
/* ============================================================
  Tags input css
============================================================ */
div.tagsinput{border:1px solid #CCC;background:#FFF;padding:5px;width:100%;height:100px;overflow-y:auto}div.tagsinput span.tag{-moz-border-radius:2px;-webkit-border-radius:2px;display:block;float:left;padding:5px 8px;text-decoration:none;background:#537aca;color:#fff;margin-right:5px;margin-bottom:5px}div.tagsinput span.tag a{font-weight:700;color:#eff4ff;text-decoration:none}div.tagsinput input{width:100%!important;margin:0;border:1px solid transparent;padding:5px;background:transparent;color:#000;outline:0;margin-right:5px;margin-bottom:5px}div.tagsinput div{display:block;float:left;width:100%}.tags_clear{clear:both;width:100%;height:0}.not_valid{background:#FBD8DB!important;color:#90111A!important}

/* ============================================================
  Correction and updation css
============================================================ */
.bluering {
	color: #037aa6;
}
.bluering:hover {
	color: #037aa6;
	text-decoration: none;
}
.number {
	display: inline-block;
}
.sentpadding {
	padding-left: 0;
}
.delpadding {
	padding-right: 0px;
	padding-left: 5px;
}
.listdisplay {
	display: none;
}
a.backbtn {
	border: 1px solid #d2d2d2;
	padding: 9px 32px;
	color: #4a4949;
	background: #f9f9f9;
}
a.backbtn:hover {
	border: 1px solid #d2d2d2;
	background: #f9f9f9;
	outline: none;
	text-decoration: none!important;
}
.greysection {
	padding: 15% 0;
}
.lightgrey {
	color: #b7b7b7;
}
.layout-bordered {
	padding: 15px 20px;
	border: solid 1px #d7d7d7;
	background-color: #ffffff;
}
.thright {
	width: 5% !important;
}
.more-word {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.more-word5{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right:10px;
	padding-left:10px;
}
.more-word1 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 0px;
}
.more-word2 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: -21px;
	margin-left: 30px;
	display: inherit;
}
@media (min-width:240px) {
.break-word {
	word-wrap: break-word;
	max-width: inherit;
}
}
@media (min-width:768px) {
.break-word {
	word-wrap: break-word;
	max-width: 0px;
}
}
.table-header-checkbox {
	width: 78px !important;
	min-width: 78px !important;
}
.template-active-icon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto;
	background: #3a5a9d;
	color: #ffffff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	margin-top: 50%;
	font-size: 25px;
}
@media (min-width:481px) and (max-width:991px) {
.icon-space {
	margin-top: 2.5% !important;
}
.icon-space1 {
	margin-top: 1.5% !important;
}
}
@media (min-width:768px) and (max-width:991px) {
.btn-space {
	padding: 0px !important;
}
}
@media (min-width:240px) {
.sent-mail-btn2 {
	background-color: #037aa6;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.sent-mail-btn1 {
	background-color: #037aa6;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.delivered-btn1 {
	background-color: #3a5a9d;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.delivered-btn2 {
	background-color: #3a5a9d;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.table-header-checkbox1 {
	width: 46px !important;
	min-width: 46px !important;
}
.more-word3 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 91px;
	min-width: 91px;
}
.more-word4 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 58px;
	padding-top: 27px;
}
}
@media (min-width:768px) {
.sent-mail-btn2 {
	background-color: #037aa6;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.sent-mail-btn1 {
	background-color: #037aa6;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.delivered-btn1 {
	background-color: #3a5a9d;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.delivered-btn2 {
	background-color: #3a5a9d;
	color: #ffffff;
	height: 37px;
	line-height: 37px;
	display: inline-block;
}
.more-word3 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 116px;
	padding-top: 19px;
	min-width: inherit;
}
.more-word4 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 60px;
	padding-top: 27px;
}
}
@media (min-width:992px) {
.sent-mail-btn2 {
	background-color: #037aa6;
	color: #ffffff;
	height: 45px;
	line-height: 45px;
	display: inline-block;
}
.sent-mail-btn1 {
	background-color: #037aa6;
	color: #ffffff;
	height: 45px;
	line-height: 45px;
	display: inline-block;
}
.delivered-btn1 {
	background-color: #3a5a9d;
	color: #ffffff;
	height: 45px;
	line-height: 45px;
	display: inline-block;
}
.delivered-btn2 {
	background-color: #3a5a9d;
	color: #ffffff;
	height: 45px;
	line-height: 45px;
	display: inline-block;
}
.table-header-checkbox1 {
	width: 78px !important;
	min-width: 78px !important;
}
.more-word3 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 150px;
	padding-top: 12px;
	min-width: inherit;
}
.more-word4 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 95px;
	padding-top: 19px;
}
}
@media (min-width:1200px) {
.sent-mail-btn2 {
	background-color: #037aa6;
	color: #ffffff;
	display: inline-block;
	height: 45px;
	line-height: 45px;
}
.sent-mail-btn1 {
	background-color: #037aa6;
	color: #ffffff;
	display: inline-block;
	height: 45px;
	line-height: 45px;
}
.delivered-btn1 {
	background-color: #3a5a9d;
	color: #ffffff;
	display: inline-block;
	height: 45px;
	line-height: 45px;
}
.delivered-btn2 {
	background-color: #3a5a9d;
	color: #ffffff;
	display: inline-block;
	height: 45px;
	line-height: 45px;
}
.more-word3 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 160px;
	padding-top: 0px;
	min-width: inherit;
}
.more-word4 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 135px;
}
}
.font-normal {
	font-weight: normal !important;
}
.nv-legend > g {
	transform: translate(0px, 5px) !important;
	-ms-transform: translate(0px, 5px) !important;
	-webkit-transform: translate(0px, 5px) !important;
	-moz-transform: translate(0px, 5px) !important;
	-o-transform: translate(0px, 5px) !important;
}

/*============================================================
Loader Images
============================================================ */
@media (min-width:240px) {
.small-loader {
	width: 20%;
	padding-bottom: 5px;
}
.noresult {
	height: 80px;
}
.license-key-inside-div {
	position: absolute;
	padding-top: 50px
}
}
@media (min-width:600px) {
.small-loader {
	width: auto;
	padding-bottom: 5px;
}
.noresult {
	height: 200px;
}
.license-key-inside-div {
	position: absolute;
	padding-top: 150px
}
}
@media (min-width:992px) {
.small-loader {
	width: 20%;
	padding-bottom: 5px;
}
}
.big-loader {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	padding: 5px 0px;
}
.newslettter-loader {
	width: 10%;
	padding-bottom: 5px;
	display: inline-block
}
div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: rgba(255,255,255,0.6) url(../images/loader.gif) no-repeat center center;
}
.license-key-div {
	background-color: #ffffff!important;
	position: fixed;
	top: 0;
	z-index: 8;
	width: 100%;
	bottom: 0;
	height: 100%;
}


/*============================================================
campaign list table format
============================================================ */
#campaign-fixed-coloum table thead tr > th:nth-child(1) {
	width: 5%;
	min-width:inherit !important;
}
#campaign-fixed-coloum table thead tr > th:nth-child(2), 
#campaign-fixed-coloum table thead tr > th:nth-child(3), 
#campaign-fixed-coloum table thead tr > th:nth-child(4)
{
	width: 23.5%;
}
#campaign-fixed-coloum table tbody tr > td:nth-child(1) {
	width: 5%;
	min-width:inherit;
}

#campaign-fixed-coloum table tbody tr > td:nth-child(2),
#campaign-fixed-coloum table tbody tr > td:nth-child(3),
#campaign-fixed-coloum table tbody tr > td:nth-child(4)
{
	width: 23.5%;
}

/*============================================================
subscriber mgmt table format
============================================================ */
.table-fixed-coluom  table thead tr > th:nth-child(1) {
	width: 5%;
}
.table-fixed-coluom  table  thead tr > th:nth-child(2),
.table-fixed-coluom  table  thead tr > th:nth-child(3),
.table-fixed-coluom  table  thead tr > th:nth-child(4),
.table-fixed-coluom  table  thead tr > th:nth-child(5),
.table-fixed-coluom  table  thead tr > th:nth-child(6) {
	width: 19%;
}
.table-fixed-coluom  table  tbody tr > td:nth-child(1){
	width: 5%;
}
.table-fixed-coluom  table  tbody tr> td:nth-child(2),
.table-fixed-coluom  table  tbody tr> td:nth-child(3), 
.table-fixed-coluom  table  tbody tr> td:nth-child(4),
.table-fixed-coluom  table  tbody tr> td:nth-child(5),
.table-fixed-coluom  table  tbody tr> td:nth-child(6) {
	width: 19%;
}

/*============================================================
newsletter table format
============================================================ */
.newsletter-coluom table thead tr > th:nth-child(1) {
	width: 5%;
	min-width:inherit ;
}
.newsletter-coluom table thead tr > th:nth-child(2),
.newsletter-coluom table thead tr > th:nth-child(3),
.newsletter-coluom table thead tr > th:nth-child(4),
.newsletter-coluom table thead tr > th:nth-child(5),
.newsletter-coluom table thead tr > th:nth-child(6) {
	width: 23.5%;
}
.newsletter-coluom table tbody tr > td:nth-child(1) {
	width: 5% ;
	min-width:inherit !important;
}
.newsletter-coluom table tbody tr > td:nth-child(2),
.newsletter-coluom table tbody tr > td:nth-child(3),
.newsletter-coluom table tbody tr > td:nth-child(4),
.newsletter-coluom table tbody tr > td:nth-child(5),
.newsletter-coluom table tbody tr > td:nth-child(6) {
	width: 23.5% ;
	
}

.newsletter-stats table thead tr > th:nth-child(1) {
	width: 5%;
	min-width:inherit ;
}
.newsletter-stats table thead tr > th:nth-child(2),
.newsletter-stats table thead tr > th:nth-child(3),
.newsletter-stats table thead tr > th:nth-child(4),
.newsletter-stats table thead tr > th:nth-child(5),
.newsletter-stats table thead tr > th:nth-child(6) {
	width: 23.5%;
}
.newsletter-stats table tbody tr > td:nth-child(1) {
	width: 5% ;
	min-width:inherit !important;
}
.newsletter-stats table tbody tr > td:nth-child(2),
.newsletter-stats table tbody tr > td:nth-child(3),
.newsletter-stats table tbody tr > td:nth-child(4),
.newsletter-stats table tbody tr > td:nth-child(5),
.newsletter-stats table tbody tr > td:nth-child(6) {
	width: 23.5% ;
	
}


/*============================================================
autoresponder table format
============================================================ */
.autoresponder-coluom table thead tr > th:nth-child(1) {
	width: 5%;
	min-width:inherit !important;
}
.autoresponder-coluom table thead tr > th:nth-child(2),
.autoresponder-coluom table thead tr > th:nth-child(3),
.autoresponder-coluom table thead tr > th:nth-child(4),
.autoresponder-coluom table thead tr > th:nth-child(5)
{
	width: 23.5%;
}
.autoresponder-coluom table tbody tr > td:nth-child(1) {
	width: 5% ;
	min-width:inherit !important;
}
.autoresponder-coluom table tbody tr > td:nth-child(2),
.autoresponder-coluom table tbody tr > td:nth-child(3),
.autoresponder-coluom table tbody tr > td:nth-child(4),
.autoresponder-coluom table tbody tr > td:nth-child(5)
{
	width: 23.5%;
	
}

.autoresponder-stats table thead tr > th:nth-child(1) {
	width: 5%;
	min-width:inherit !important;
}
.autoresponder-stats table thead tr > th:nth-child(2),
.autoresponder-stats table thead tr > th:nth-child(3),
.autoresponder-stats table thead tr > th:nth-child(4),
.autoresponder-stats table thead tr > th:nth-child(5)
{
	width: 31.5%;
}
.autoresponder-stats table tbody tr > td:nth-child(1) {
	width: 5% ;
	min-width:inherit !important;
}
.autoresponder-stats table tbody tr > td:nth-child(2),
.autoresponder-stats table tbody tr > td:nth-child(3),
.autoresponder-stats table tbody tr > td:nth-child(4),
.autoresponder-stats table tbody tr > td:nth-child(5)
{
	width: 31.5%;
	
}

/*============================================================
forms table format
============================================================ */
.forms-coluom table thead tr > th:nth-child(1) {
	width: 5%;
	min-width:inherit !important;
}
.forms-coluom table thead tr > th:nth-child(2),
.forms-coluom table thead tr > th:nth-child(3)
{
	width:28%;
}
.forms-coluom table thead tr > th:nth-child(4)
{
	width: 39%;
}
.forms-coluom table tbody tr > td:nth-child(1) {
	width: 5% ;
	min-width:inherit !important;
}
.forms-coluom table tbody tr > td:nth-child(2),
.forms-coluom table tbody tr > td:nth-child(3)
{
	width: 28%;
}
.forms-coluom table tbody tr > td:nth-child(4)
{
	width: 39%;
}

/*============================================================
use table format
============================================================ */
.user-setting-coloum table thead tr > th:nth-child(1),
.user-setting-coloum table thead tr > th:nth-child(2),
.user-setting-coloum table thead tr > th:nth-child(3)
{
	width: 33.3%;
}
.user-setting-coloum table tbody tr > td:nth-child(1),
.user-setting-coloum table tbody tr > td:nth-child(2),
.user-setting-coloum table tbody tr > td:nth-child(3)
{
	width: 33.3%;
}

/*============================================================
faq, bonus and training page css
============================================================ */

#html5-lightbox-box{max-width:720px;}
#html5-elem-wrap{max-width:720px;}
@media (min-width: 240px) {
#html5-elem-wrap{min-height:382px;}	
}
@media (min-width: 768px) {
#html5-elem-wrap{min-height:496px;}	
}
.member-search-btn{background-color: #3a5a9d;color: #ffffff;height: 40px !important;min-width: auto;width: 60px !important;
border-radius:0px !important; border:none;}
.member-search-btn:hover{background-color: #4368b6;color: #ffffff;}


.nav-tabs2>li.active>a, .nav-tabs2>li.active>a:focus, .nav-tabs2>li.active>a:hover {
    color: #3a5a9d;
    background-color: #fff !important;
    border-left: 2px solid #3a5a9d !important;
	border-top:solid 1px #e5ebf5 !important;
	border-bottom:solid 1px #e5ebf5 !important;
	margin-right:-1px;
	z-index:99;
}

.nav-tabs2 > li {
    float: left;
    margin-bottom: -1px;
	width:100%;
}
.nav-tabs2>li>a {
    margin-right: 2px;
   
    border-radius: 0;
	border-left:0 !important;
	border-right:0 !important;
	text-align:left;
	color:#4a4949;
	
}
.nav-tabs2 {
    border-bottom: 0;
}

.nav-tabs2>li>a:hover {
    border-color: transparent;
	background-color:#f6f9fd;
}
.p1{
	margin-bottom:25px;
}
.p1:last-child{
	margin-bottom:0px;
}
.faq-area{background-color:#ffffff; border:solid 1px #e5ebf5; min-height:250px; padding:15px; z-index:0;}
.more-less {  float: right;color: #b8b8b8;}
.faq-border-radius{ border-radius:0px !important; margin-bottom:10px !important; box-shadow:none !important;color:#4a4949 !important;}
.faq-tabs-content{ padding:20px !important; background:#ffffff !important; line-height:22px !important; font-size:15px !important}
@media (min-width:240px){
.faq-swicth{top:9px; margin-bottom:15px ;}
.faq-tabs-content1{ padding:5px !important; background:#ffffff !important; line-height:22px !important; font-size:15px !important}
}
@media (min-width:768px){
.faq-swicth{display: inline-block;float:right ;right: 15px;top: -8px; margin:0 !important;}
.faq-tabs-content1{ padding:20px !important; background:#ffffff !important; line-height:22px !important; font-size:15px !important}
}
.smart-pill-tab ul li{ display:inline-flex !important; padding-right:15px;}
.radio-position{margin-top: 11px !important; margin-left: -13px !important; position: relative;}


.alert-record{color: #4a4949;
background-color: rgb(246, 249, 253);
border-color: rgb(188, 204, 226);}

.bonusbox{background:#fff; border:1px solid #ecf0f7;}
.bonusbox img{max-height:150px;min-height:150px; margin-bottom:5px; padding:10px;}
a .download, a .download:focus{background:#f4f4f4; border-top:solid 1px #bccce2;  color:#4a4949; padding:4%; text-decoration:none; margin-top:15px;}
a .download:hover{background:#3a5a9d; text-decoration:none; border-top:solid 1px #bccce2; color:#ffffff;}
.traning-video{ background-color:#fafafa; border:solid 1px #e1e1e1; padding:10px;}
.traning-video img{max-height:150px; min-height:150px; margin-bottom:15px;}

a.upgradelink{ 
background: #4f9f4f;
color: #ffffff;
border: solid 1px #4f9f4f; 
padding:5px 10px;
border-radius:15px;
margin-top:5px;
float:right;
text-decoration:none;
}

.filter-btn{padding:7px 15px 6px 15px !important;background: #3a5a9d !important;border: solid 1px #3a5a9d !important;color: #ffffff !important;}

.smart-warning {
color: #8a6d3b;
background-color: #fcf8e3;
border-color: #faebcc;
padding:10px;
}
a.messsage-close{font-size: 32px;
font-weight: 700;
line-height: 1;
text-shadow: 0 1px 0 #fff;color: #d4d4d4;
text-decoration: none;
cursor: pointer;
}
a.upgrade-btn{
background: #4f9f4f;
color: #ffffff;
border: solid 1px #4f9f4f;
padding: 5px 10px;
border-radius: 15px;
margin-top: 0px;
float: initial;
text-decoration: none;
display: inline-block;
}
.mail-seeting-tab label
{
	width:100%;
	cursor:pointer;
}


/*============================================================
update notification popup css
============================================================ */
.update-notification{position:fixed; top:50px; right:10px; width:100%; max-width:250px;  z-index:11; }
.update-notification .box-area{border:solid 1px #d7d7d7; background-color:#ffffff; -webkit-box-shadow: 0 3px 6px 3px rgba(232, 233, 233, 0.5) !important;
-moz-box-shadow: 0 3px 6px 3px rgba(232, 233, 233, 0.5) !important;
box-shadow: 0 3px 6px 3px rgba(232, 233, 233, 0.5) !important;}	

a.update-close{position: absolute;
right: 10px;
top: 10px;
font-size: 13px;
color: #a5a0a0; text-decoration:none;}
a.accept{ background-color:#68a5c3; padding:7px 2px; color:#ffffff; display:block; text-decoration:none;}
a.infomation{ background-color:#3a5a9d; padding:7px 2px; color:#ffffff; display:block; text-decoration:none;}







/*============================================================
404 page css
============================================================ */
.page-404 .number, .page-500 .number {
	letter-spacing: -10px;
	line-height: 128px;
	font-size: 128px;
	
}
.page-404 .details, .page-500 .details {
	margin-left: 40px;
	display: inline-block
}
.page-404 .details, .page-500 .details p {
	color:#7e7e7e;
}
.page-404 .details, .page-500 .details h1,h2,h3,h4,h5,h6 {
	color:#4a4949;
}
.page-404 {
	text-align: center
}
.page-404 .number {
	position: relative;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	text-align: right;
	font-weight:normal;
}
.page-404-full-page .page-404, .page-500-full-page .page-500 {
	margin-top: 150px
}
.page-404 .details {
	padding-top: 0;
	text-align: left
}
.page-404-full-page {
	
	padding: 20px;
	margin-bottom: 20px;
	
}
.page-404-full-page .details input {
	background-color: #fff
}


.page-404-full-page, .form-control{
	border-radius:0; 
}


@media (max-width:480px) {
.page-404 .details, .page-404 .number, .page-500 .details, .page-500 .number {
	text-align: center;
	margin-left: 0
}
.page-404-full-page .page-404 {
	margin-top: 30px
}

}

/*============================================================
Success box
============================================================ */
.succes-box-area{ width:100%; padding:2%;}
.success_box{max-width:450px; margin:0 auto; padding:25px;border: solid 1px #e5ebf5;background-color: #f9f9f9; }
.success_box img{margin-bottom:7%;}.success_box a{margin-top:7%;}

/******************************** software update notification css **********************************************/

.update-title ul{ margin-left:-20px;}
.update-title li {
	list-style-type:disc;
}
.update-details ul{ margin-left:-20px;}
.update-details li {
	list-style-image:url(../images/triangle-icon.png);
}
.update-des ul{ margin-left:-40px;}
.update-des li {
	list-style:none;
	line-height:25px;
}
.smart-green {
    color: #22cb5e;
} 
 
/******************************** API Integration css **********************************************/
.generate-btn{
	background: #3a5a9d;
	padding:7px 22px 5px 22px;
	color: #ffffff;
	border: solid 1px #3a5a9d;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-transform: capitalize;
}
.generate-btn:hover, .generate-btn:focus{
	background: #3a5a9d;
	color: #ffffff;
	border: solid 1px #3a5a9d;
	text-decoration:none;
}
.reset-btn{
	background: #ffffff;
	padding:7px 28px 5px 28px;
	color: #4a4949;
	text-decoration: none;
	display: inline-block;
	border: solid 1px #d7d7d7;
	cursor: pointer;
	text-transform: capitalize;
}
.mrgn-left{margin-left:15px;}
.heading-title a{ display:inline-block; padding:5px 10px 5px 0px; color:#000000; text-decoration:none; font-weight:400; list-style:inside;}
.api-format{ border:hidden; box-shadow:none;}
.heading-title .accordion-toggle:after {
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f0dd";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #000;   
	margin-left:10px;

}
.heading-title .accordion-toggle.collapsed:after {
    content: "\f0de";   
	margin-left:10px;
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
}
