body {font-family: raleway;color: #606060;/*background-color: #f0f0f0;*/ margin:0; padding:0; height:100%;}
.smart-color{color:#3a5a9d;}
.smart-form-preview{margin: 0 auto;word-wrap:break-word;}
.error-msg{ color: #a94442;background-color: #f2dede; border:solid 1px #dca7a7; padding:15px;border-radius: 4px; margin:20px 20px 0px 20px; position:relative;}
.success-msg{ color: #3c763d;background-color: #dff0d8; border:solid 1px #d6e9c6; padding:15px;border-radius: 4px; margin:20px 20px 0px 20px; position:relative;}
.close{float: right;font-size:30px;color: #000;text-shadow: 0 1px 0 #fff;filter: alpha(opacity=20);opacity: .2; text-decoration:none;position:absolute; top:5px; right:8px; cursor:pointer;}


/* ============================================================
  Form Design css
============================================================ */
/*Forms-CSS*/
.blue{color:#0d96e5;}
.blacktext{color:#202020;}
.whitetext{color:#ffffff;}
.heading{color:#ff7800;}
.preheading{color:#efefef;}
.greytext{color:#b7b7b7;}
.black{color:#000000;}
.redtext{color:#fb3737;}
.greytext{color:#b7b7b7;}
.yellowtext{color:#e46c2e;}

/*Forms 1 -CSS*/
.form1-bg{background:url(../images/form-images/form1-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%; width:100%; margin:2% auto; max-width:400px; }	
.form_area1{padding:10% 0; }
.form_area1 input[type="text"]{border: 1px solid #b6b6b6 !important;width: 100%; outline: none;margin-bottom: 4%; padding: 0px 10px;height: 35px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;font-family: inherit;font-size: inherit;line-height: inherit;}
a.form-btn1{background:#0d96e5; color:#fff; border-radius:25px; padding:2.5% 3%; width:100%;outline:none;text-align:center;border:0;border-bottom:3px solid #116798; min-height:40px; display:inline-block; text-decoration:none;}
a.form-btn1:hover{text-decoration:none;}

/*Forms 2 -CSS*/
.form2-bg{background:url(../images/form-images/form2-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin: 2% auto;}	
.form_area2{padding:8% 0;}
.form_area2 input[type="text"]{border: 1px solid #b6b6b6;width: 100%;padding: 6px 6px;outline: none;margin-bottom: 4%;margin-top:2%;}
a.form-btn2{background:#ff7800; color:#fff; border-radius:25px; padding:2.5% 3%; width:100%;outline:none;text-align:center;border:0;min-height:38px;display:inline-block; text-decoration:none;}
a.form-btn2:hover{text-decoration:none;}
.robotoslab{font-family:Roboto Slab;}

/*Forms 3 -CSS*/
@media (min-width: 240px) {
.form3-bg{background:url(../images/form-images/form3-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin:1% auto;padding:10%;}	
}
@media (min-width: 768px) {
.form3-bg{margin: 1% auto;padding:5%;}}
.form_area3 input[type="text"]{border: 1px solid #b6b6b6;width: 100%;padding: 5px 6px;outline: none;margin-bottom: 4%;margin-top:2%;}
a.form-btn3{background:#e56201; color:#fff; border-radius:5px; padding:3% 3%; width:100%;outline:none;text-align:center;border:0; min-height:40px;display:inline-block; text-decoration:none;}
a.form-btn3:hover{text-decoration:none;}
.innerform{background:#585858;border-top-right-radius: 25px;border-top-left-radius: 25px;border-bottom-left-radius: 25px;padding:11% 0;}
.innerform:after{content: ' ';position: absolute;width: 0;height: 0;left: auto;right: 0px;bottom: -20px;border: 14px solid;
border-color: #585858 #585858 transparent transparent;border-width: 0 104px 20px 0;}

/*Forms 4 -CSS*/
.form4-bg{background:url(../images/form-images/form4-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:450px; width:100%;margin:2% auto;}	
.form_area4{padding:8% 0;}
.form_area4 input[type="text"]{border: 1px solid #b6b6b6;width: 100%;padding: 6px 6px;outline: none;margin-bottom: 4%;margin-top:2%;color:#000;}
a.form-btn4{background:#d21313; color:#fff; border-radius:5px; padding:2.5% 3%; width:100%;outline:none;text-align:center;border:0;min-height:38px;display:inline-block; text-decoration:none;}
a.form-btn4:hover{text-decoration:none;}


/*Forms 5 -CSS*/
.form5-bg{background:url(../images/form-images/form5-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin:1% auto;}	
.form_area5{padding:3% 0 10% 0;}
.form_area5 input[type="text"]{border-bottom: 1px solid #b6b6b6;width: 100%;padding: 6px 6px;outline: none;margin-bottom: 4%;margin-top:2%;color:#b7b7b7 !important;background:transparent;border-top:1px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;}
a.form-btn5{background:#ff5a11; color:#fff; border-radius:25px; padding:2% 3%; width:100%;outline:none;text-align:center;border:0;min-height:40px;display:inline-block; text-decoration:none;}
a.form-btn5:hover{text-decoration:none;}
.breeserif{font-family:Bree Serif;}



/*Forms 6 -CSS*/
.form6-bg{background:url(../images/form-images/form6-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin: 1% auto;}	
.form_area6{padding:0% 0% 6% 0%;}
.form_area6 input[type="text"]{border: 1px solid #b6b6b6;width: 100%;padding: 6px 6px;outline: none;margin-bottom: 4%;margin-top:2%;}
a.form-btn6{background:#f46d23; color:#fff; border-radius:25px; padding:2% 3%; width:100%;outline:none;text-align:center;border:0;border-bottom:3px solid #d75108;letter-spacing:2px; min-height:40px;display:inline-block; text-decoration:none;}
a.form-btn6:hover{text-decoration:none;}
.letterspace{letter-spacing: 5px;}
.arrow_box {position: relative;background: #f46d23;border: 3px solid #f46d23;}
.arrow_box:after, .arrow_box:before {top: 100%;left: 50%;border: solid transparent;content: " ";height: 0; width: 0;position: absolute;pointer-events: none;}

@media (min-width: 240px){
.arrow_box:after {border-color: rgba(136, 183, 213, 0);border-top-color: #f46d23;border-width: 35px 120px 0px 120px;margin-left: -120px;}
.arrow_box:before {border-color: rgba(136, 183, 213, 0);border-top-color: #f46d23;border-width: 35px 100px 0px 100px;
margin-left: -100px;margin-top: 3px;}
}
@media (min-width: 768px){
.arrow_box:after {border-width: 45px 143px 0px 143px;margin-left: -143px;}
.arrow_box:before {border-width: 45px 143px 0px 143px;margin-left: -143px;margin-top:0px;}
}
@media (min-width: 992px){
.arrow_box:after {border-width: 45px 143px 0px 143px;margin-left: -143px;}
.arrow_box:before {border-width: 45px 143px 0px 143px;margin-left: -143px;margin-top:3px;}
}



/*Forms 7 -CSS*/

.form7-bg{background:url(../images/form-images/form7-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin:1% auto;}	
.form_area7{padding:6% 0;}
.form_area7 input[type="text"]{border-bottom: 2px solid #bdbdbd;width: 100%;padding: 6px 6px;outline: none;margin-bottom: 4%;margin-top:2%;border-left: 1px solid transparent;border-right: 1px solid transparent;border-top: 1px solid transparent;}
a.form-btn7{background:#fb3737; color:#fff; border-radius:5px; padding:2.5% 3%; width:100%;outline:none;text-align:center;border:0;letter-spacing:3px;min-height:40px;display:inline-block; text-decoration:none;}
a.form-btn7:hover{text-decoration:none;}
.redarrow_box {
	position: relative;
	background: #fb3737;padding:4% 0;margin-top:3%;border-bottom:1px solid #818388;border-top:2px solid #cfd0cf;
}
.redarrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(251, 55, 55, 0);
	border-top-color: #fb3737;
	border-width: 13px 20px 0px 20px;
	margin-left: -20px;
}

/*Forms 8 -CSS*/

.form8-bg{background:url(../images/form-images/form8-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin: 1% auto;}	

.form_area8{padding:7% 0;}
.form_area8 input[type="text"]{border-bottom: 1px solid #fff;width: 100%;padding: 6px 6px;outline: none;margin-bottom: 4%;margin-top:2%;color:#fff;background:transparent;border-top:1px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;}
.form_area8 input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
.form_area8 input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff!important;
   opacity:  1;
}
.form_area8 input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff!important;
   opacity:  1;
}
.form_area8 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff!important;
}
a.form-btn8{background:#040711; color:#fff; border-radius:5px; padding:2% 3%; width:100%;outline:none;text-align:center;border:0;letter-spacing:2px;min-height:40px;display:inline-block; text-decoration:none;}
a.form-btn8:hover{text-decoration:none;}
.breeserif{font-family:Bree Serif;}


/*Forms 9 -CSS*/
.form9-bg{background:url(../images/form-images/form9-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin:1% auto;}	
.form_area9{margin-bottom:20%}
.form_area9 input[type="text"]{border: 1px solid #b6b6b6;width: 100%;padding: 4px 6px;margin-top:1%;outline: none;margin-bottom: 4%;}
a.form-btn9{background:#d60f0f; color:#fff; border-radius:5px; padding:2.5% 3%; width:100%;outline:none;text-align:center;border:0;min-height:40px;display:inline-block; text-decoration:none;}
a.form-btn9:hover{text-decoration:none;}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 100px; height: 100px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 28px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 131px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#D60F0F 0%, #d60f0f 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 23px;
    left: -28px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #d60f0f;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #d60f0f;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #d60f0f;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #d60f0f;
}

/*Forms 10 -CSS*/
.form10-bg{background:url(../images/form-images/form10-bg.png) no-repeat;/*-webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover; background-size: cover;*/-webkit-background-size: 100% 100%; -moz-background-size: 100% 100%;  -o-background-size: 100% 100%; background-size: 100% 100%;height:100%;max-width:400px; width:100%;margin:1% auto;}	
.form_area10{padding:5% 0;}
.form_area10 input[type="text"]{border: 1px solid #444;width: 100%;padding: 8px 15px;outline: none;margin-bottom: 4%;background:transparent;border-radius:15px;}
a.form-btn10{background:#e46c2e; color:#fff; border-radius:25px; padding:2.5% 3%; width:100%;outline:none;text-align:center;border:0;min-height:40px;display:inline-block; text-decoration:none;}
a.form-btn10:hover{text-decoration:none;}
.segoe{font-family: "Segoe UI";}