<ul class="pagination">
  <li><a href="#">&laquo;</a><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a><a href="#">&raquo;</a></li>
</ul>
